## 국내주식 잔고이력(STK_BNC_HIST) & 고객 및 주거래 계좌 정보

[국내주식 잔고이력]

기간 : 2016년 1월 ~ 2020년 12월
- act_id : 계좌번호 (EX. 27666E123D)
- bse_dt : 기준일자 (EX. 20200522) -> 조회
- iem_cd : 종목코드 (EX. A000100)
- bnc_qty : 잔고수량 (EX. 500), 종목 보유 잔고수량을 말한다.  -> 몇 주 가지고 있냐? 
- tot_aet_amt: 잔고금액 (EX. 945000), 종목 평가금액을 말한다. -> 주가g(날마다 바뀜) * 수량
- stk_par_pr : 액면가 (EX. 1000), 주당 액면가를 말한다. ->  기업이 주식을 최초로 발행할때 정한 주식 1주당 가격

[고객 및 주거래 계좌 정보]

- act_id: 계좌 ID
- sex_dit_cd: 성별
- cus_age_stn_cd: 연령대
- ivs_icn_cd: 투자성향
- cus_aet_stn_cd: 자산구간
- mrz_pdt_tp_sgm_cd: 주거래상품군
- lsg_sgm_cd: Life Style
- tco_cus_grd_cd: 서비스 등급
- tot_ivs_te_sgm_cd: 총 투자기간
- mrz_btp_dit_cd: 주거래업종구분

In [57]:
import pandas as pd
import numpy as np
import os
import sys
sys.path.append('../')

from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import core.config as conf
from matplotlib import rc
from tqdm import trange, notebook

%matplotlib inline

In [58]:
# 맥북
rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

In [59]:
# hist = pd.read_csv(conf.data_path + 'stk_bnc_hist.csv')
# hist = pd.read_csv(conf.data_path + 'stk_bnc_hist.csv')
# iem = pd.read_csv(conf.data_path + 'iem_info_20210902.csv')
# cus = pd.read_csv(conf.data_path + 'cus_info.csv')
hist = pd.read_csv('~/Study/' + conf.data_path[2:] + 'stk_bnc_hist.csv')  # 아정
iem = pd.read_csv('~/Study/' + conf.data_path[2:] + 'iem_info_20210902.csv')  # 아정
cus = pd.read_csv('~/Study/' + conf.data_path[2:] + 'cus_info.csv')  # 아정

In [46]:
hist.head()

,act_id,bse_dt,iem_cd,bnc_qty,tot_aet_amt,stk_par_pr
0,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200820,A008770,40.0,2828000.0,5000.0
1,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200623,A008770,20.0,1390000.0,5000.0
2,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20160104,A005940,311.0,2982490.0,5000.0
3,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200814,A005930,40.0,2320000.0,100.0
4,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200623,A005930,20.0,1028000.0,100.0

In [5]:
iem.head()

    iem_cd iem_krl_nm  btp_cfc_cd  mkt_pr_tal_scl_tp_cd  stk_dit_cd
0  A000020       동화약품           8                     2          99
1  A000080      하이트진로          14                     2           1
2  A000180     성창기업지주           5                     3          99
3  A000227    유유제약2우B           8                    99          99
4  A000325     노루홀딩스우           2                    99          99

In [6]:
cus.head()

,act_id,sex_dit_cd,cus_age_stn_cd,ivs_icn_cd,cus_aet_stn_cd,mrz_pdt_tp_sgm_cd,lsg_sgm_cd,tco_cus_grd_cd,tot_ivs_te_sgm_cd,mrz_btp_dit_cd
0,64aae8dd71e5c0761000db9f9a6779e504e7a4aa9dc097...,1,4,99,1,2,3,3,6,16
1,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,1,6,4,4,2,5,2,6,1
2,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,2,7,4,3,2,5,5,6,9
3,6d497facfa1ea5901b827335553331f8555fec02a8184f...,2,6,4,4,8,5,3,6,16
4,b727c78d2cfc246c97b677f29a034399a0c7e7873fff44...,1,5,2,2,2,5,5,5,16

In [60]:
hist = pd.merge(hist, cus[['act_id', 'ivs_icn_cd']], how='left', on = 'act_id')

## 계좌 번호 별 투자성향/Life Stage/주식리스트/보유기간리스트

- act_id / ivs_icn_cd / lsg_sgm_cd / iem_cd_list / dur_list

### 계좌 번호 별 보유 주식 코드 리스트 & 개수

In [61]:
df = hist[['act_id', 'iem_cd']]
id_cd_count = df.groupby('act_id')['iem_cd'].count().reset_index(name='count')
id_cd_list = df.groupby('act_id')['iem_cd'].apply(list).reset_index(name='iem_cd_list')

for i in range(9992):
    cd_list = id_cd_list['iem_cd_list'][i]
    cd_set = set(cd_list)
    count = len(cd_set)
    id_cd_list['iem_cd_list'][i] = cd_set

id_cd_list

,act_id,iem_cd_list
0,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,"{A037070, A005070, A093370, A104040, A051360, ..."
1,0007f3d10282e6f9de1eb445a64eb1f13e9ed2308cfbfa...,"{A241560, A227950, A178920, A109820, A026890, ..."
2,0008d1bfac569bdb998897e2eb8519dec06b9277a686f4...,"{A009460, A246960, A086820, A228670, A052190, ..."
3,000a83a961cbcbce40673aed998effbd462fb10dcac8e6...,"{A001040, A251270, A066570, A000100, A068290, ..."
4,000b92ca83a96312a0909b1f489340f4d399c86555012f...,"{A367380, A360200, A005935, A051910, A005930, ..."
...,...,...
9987,ffea89aa464a4fcf8a5416989d21deef4e748192ba17bf...,"{A066570, A037400, A034220, A082850, A153490}"
9988,ffecc8e2823943ef1a7b0d9c6512f716a88032a1bdf7ba...,"{A003000, A005360, A013000, A234100, A026890, ..."
9989,ffee399294db1c721e010cbf3dae5c8a1f140dbaf2dcae...,"{A025980, A004370, A011170, A104040, A005380, ..."
9990,fff7d563e388744fdc1ca90153ec0161d1345511cb9070...,"{A28513K, A009835, A058110, A002630, A067080, ..."
9991,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,"{A004720, A204320, A011150, A111710, A293490, ..."

In [10]:
cus_stg = cus[['act_id', 'ivs_icn_cd', 'lsg_sgm_cd',]]
cus_cd = pd.merge(cus_stg, id_cd_list, on = 'act_id')
cus_cd

,act_id,ivs_icn_cd,lsg_sgm_cd,iem_cd_list
0,64aae8dd71e5c0761000db9f9a6779e504e7a4aa9dc097...,99,3,"{A316140, A000030, A012330}"
1,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,4,5,"{A030200, A005385, A005935, A017960, A02826K, ..."
2,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,4,5,"{A005490, A066570, A005930, A005880, A033780, ..."
3,6d497facfa1ea5901b827335553331f8555fec02a8184f...,4,5,"{A038110, A103590, A069500, A083310, A213500, ..."
4,b727c78d2cfc246c97b677f29a034399a0c7e7873fff44...,2,5,"{A069330, A031440, A111770, A009830, A041830, ..."
...,...,...,...,...
9987,2fdd734bf8fc04c0d484ddc1d021622a1cdc802705702e...,4,9,"{A261220, A269540, A133690}"
9988,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,3,2,"{A005490, A252670, A009830, A009835, A096530, ..."
9989,7702030b3b0760e6b37c8a3e8ed58611b1b85913526ad1...,4,5,"{A169950, A219480, A314250, A283580, A133690}"
9990,4006ddaa5673365096b9dd5965e20db866f6523c162f79...,99,5,"{A251270, A034730, A014910, A045520, A065450}"
9991,564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...,0,5,"{A005380, A000270, A005935, A117580, A005830, ..."

### 한 사람의 보유종목/날짜/잔고수량/잔고금액

In [11]:
df = hist[(hist['act_id'] == '66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2da05b646085d8eb408')][['act_id', 'iem_cd', 'bse_dt', 'bnc_qty', 'tot_aet_amt']]
df

,act_id,iem_cd,bse_dt,bnc_qty,tot_aet_amt
23,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A183300,20170328,0.0,0.0
24,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A207940,20161110,10.0,1440000.0
25,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A207940,20161122,0.0,0.0
26,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A207940,20161124,100.0,15550000.0
27,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A207940,20170111,0.0,0.0
28,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A316140,20190213,5600.0,85680000.0
29,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A316140,20190220,6600.0,100650000.0
30,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A316140,20190508,7402.0,103998100.0
31,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A316140,20190510,8380.0,115644000.0
32,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A316140,20190614,8501.0,118588950.0
33,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A316140,20200313,9001.0,69937770.0
34,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20160104,2000.0,17200000.0
35,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20160107,2500.0,21350000.0
36,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20160504,0.0,0.0
37,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20170620,1000.0,16850000.0
38,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20170905,0.0,0.0
39,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20180207,1000.0,15600000.0
40,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20180323,1500.0,22350000.0
41,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20180420,2500.0,38250000.0
42,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20180730,2800.0,47040000.0
43,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20180806,3000.0,49950000.0
44,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20181025,4000.0,64600000.0
45,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20181031,4300.0,67725000.0
46,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20181101,5300.0,82945000.0
47,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20190108,5600.0,82880000.0
48,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A003520,20180326,500.0,4025000.0
49,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A003520,20180405,0.0,0.0
50,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A005930,20180614,100.0,4820000.0
51,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A005930,20181017,0.0,0.0
52,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A005940,20161122,1000.0,9800000.0
53,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A005940,20170120,0.0,0.0
54,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A010050,20161109,40000.0,26080000.0
55,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A010050,20161122,0.0,0.0
56,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A010050,20170526,10000.0,6400000.0
57,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A010050,20170703,20000.0,14820000.0
58,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A010050,20180104,29000.0,15109000.0
59,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A010050,20180130,30000.0,20790000.0
60,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A010050,20180314,0.0,0.0
61,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A055550,20160624,200.0,7410000.0
62,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A055550,20160628,0.0,0.0
63,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A121440,20170113,1000.0,7110000.0
64,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A121440,20170209,1500.0,9585000.0
65,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A121440,20170310,2000.0,12680000.0
66,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A121440,20170315,0.0,0.0
67,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A122870,20160624,500.0,19075000.0
68,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A122870,20160712,0.0,0.0
69,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A178320,20170327,3.0,112050.0
70,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A178320,20170328,0.0,0.0
71,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A183300,20170323,3.0,64500.0

### 종목 코드 / 날짜를 오름차순으로 정렬
- 같은 종목 내에서 날짜가 (예전 -> 최근) 순으로 정렬한다.

In [61]:
sorted_df = df.sort_values(by=['iem_cd', 'bse_dt'], ascending = [True, True])
sorted_df = sorted_df.reset_index(drop = True)
sorted_df['past_d'] = 0
sorted_df

,act_id,iem_cd,bse_dt,bnc_qty,tot_aet_amt
23,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A183300,20170328,0.0,0.0
49,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A003520,20180405,0.0,0.0
50,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A005930,20180614,100.0,4820000.0
51,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A005930,20181017,0.0,0.0
52,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A005940,20161122,1000.0,9800000.0
53,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A005940,20170120,0.0,0.0
54,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A010050,20161109,40000.0,26080000.0
55,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A010050,20161122,0.0,0.0
56,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A010050,20170526,10000.0,6400000.0
57,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A010050,20170703,20000.0,14820000.0
58,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A010050,20180104,29000.0,15109000.0
59,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A010050,20180130,30000.0,20790000.0
60,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A010050,20180314,0.0,0.0
61,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A055550,20160624,200.0,7410000.0
62,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A055550,20160628,0.0,0.0
63,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A121440,20170113,1000.0,7110000.0
64,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A121440,20170209,1500.0,9585000.0
65,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A121440,20170310,2000.0,12680000.0
66,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A121440,20170315,0.0,0.0
67,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A122870,20160624,500.0,19075000.0
68,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A122870,20160712,0.0,0.0
69,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A178320,20170327,3.0,112050.0
48,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A003520,20180326,500.0,4025000.0
70,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A178320,20170328,0.0,0.0
47,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20190108,5600.0,82880000.0
45,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20181031,4300.0,67725000.0
24,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A207940,20161110,10.0,1440000.0
25,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A207940,20161122,0.0,0.0
26,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A207940,20161124,100.0,15550000.0
27,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A207940,20170111,0.0,0.0
28,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A316140,20190213,5600.0,85680000.0
29,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A316140,20190220,6600.0,100650000.0
30,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A316140,20190508,7402.0,103998100.0
31,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A316140,20190510,8380.0,115644000.0
32,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A316140,20190614,8501.0,118588950.0
33,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A316140,20200313,9001.0,69937770.0
34,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20160104,2000.0,17200000.0
35,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20160107,2500.0,21350000.0
36,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20160504,0.0,0.0
37,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20170620,1000.0,16850000.0
38,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20170905,0.0,0.0
39,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20180207,1000.0,15600000.0
40,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20180323,1500.0,22350000.0
41,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20180420,2500.0,38250000.0
42,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20180730,2800.0,47040000.0
43,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20180806,3000.0,49950000.0
44,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20181025,4000.0,64600000.0
46,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20181101,5300.0,82945000.0
71,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A183300,20170323,3.0,64500.0

### 한 사람의 주식 종목 별 보유 기간을 측정
- 종목 별로 날짜가 정렬되어 있으니깐 위에서부터 스캔해가며 보유기간을 계산한다.
- 계산된 보유기간은 past_d(임시로)에 기록

==수정==
- 6개월 단위로 보유기간 Cut

In [62]:
external_path = conf.external_path
print(external_path)

~/2021-nh-bigdata-competition/external/result/

In [63]:
# holiday = pd.read_csv(external_path +'holiday_date.csv')
holiday = pd.read_csv('~/Study/' + external_path[2:] +'holiday_date.csv') # 아정

In [64]:
holidays = pd.to_datetime(holiday['date'], infer_datetime_format=True).dt.strftime("%Y-%m-%d")
holidays = list(holidays)
for i in range(len(holidays)):
    tmp = holidays[i].split('-')
    holidays[i] = ''.join(tmp)
holidays = list(map(int, holidays))

In [65]:
def working_day(s_dt, e_dt) : # 공휴일 제외 # 공휴일이 주말인 경우 고려 X 
    count = 0
    for day in holidays:
        if day >= s_dt and day <= e_dt:
            count += 1
        elif day > e_dt:
            break
        else:
            continue
    s_dt = str(s_dt).split('.')[0]
    e_dt = str(e_dt).split('.')[0]
    s_dt = s_dt[:4] + '-' + s_dt[4:6] + '-' + s_dt[6:]
    e_dt = e_dt[:4] + '-' + e_dt[4:6] + '-' + e_dt[6:]
    w_day = np.busday_count(s_dt, e_dt, weekmask='1111100') # 주말제외
    
    result = w_day - count
    return result

In [17]:
cal_dur = {}
for i in range(len(sorted_df)):
#     print(i)
    # 위에서부터 하나씩 읽어가는데 딕셔너리에 종목코드가 존재하지 않는다면 해당 날짜 추가
    if sorted_df['iem_cd'][i] not in cal_dur:
        cal_dur[sorted_df['iem_cd'][i]] = sorted_df['bse_dt'][i]
    # 이미 존재하면 해당 잔고가 0인지 확인
    else :
        # 일단 보유기간은 사고/팔고 개념이 있으니깐 팔지 않은 주식은 계산 X
        # 해당 잔고가 0이면 그 날짜와 딕셔너리에 존재하는 날짜를 사용해 보유 기간 계산
        if sorted_df['bnc_qty'][i] == 0:
            sell = sorted_df['bse_dt'][i]
            buy = cal_dur[sorted_df['iem_cd'][i]]
            dur = working_day(buy, sell)
            sorted_df['past_d'][i] = dur
#             print(sorted_df['iem_cd'][i], ' 의 기간: ', dur)
        # 0이 없다: 다 팔지 않음 ==> 일단 보유기간 측정 안하는 걸로.
            del cal_dur[sorted_df['iem_cd'][i]]
        else:
            continue
sorted_df

/opt/anaconda3/envs/NH/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

,act_id,iem_cd,bse_dt,bnc_qty,tot_aet_amt,past_d
0,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20160104,2000.0,17200000.0,0
1,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20160107,2500.0,21350000.0,0
2,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20160504,0.0,0.0,81
3,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20170620,1000.0,16850000.0,0
4,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20170905,0.0,0.0,54
5,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20180207,1000.0,15600000.0,0
6,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20180323,1500.0,22350000.0,0
7,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20180420,2500.0,38250000.0,0
8,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20180730,2800.0,47040000.0,0
9,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20180806,3000.0,49950000.0,0
10,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20181025,4000.0,64600000.0,0
11,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20181031,4300.0,67725000.0,0
12,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20181101,5300.0,82945000.0,0
13,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20190108,5600.0,82880000.0,0
14,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A003520,20180326,500.0,4025000.0,0
15,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A003520,20180405,0.0,0.0,8
16,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A005930,20180614,100.0,4820000.0,0
17,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A005930,20181017,0.0,0.0,82
18,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A005940,20161122,1000.0,9800000.0,0
19,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A005940,20170120,0.0,0.0,41
20,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A010050,20161109,40000.0,26080000.0,0
21,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A010050,20161122,0.0,0.0,9
22,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A010050,20170526,10000.0,6400000.0,0
23,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A010050,20170703,20000.0,14820000.0,0
24,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A010050,20180104,29000.0,15109000.0,0
25,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A010050,20180130,30000.0,20790000.0,0
26,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A010050,20180314,0.0,0.0,193
27,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A055550,20160624,200.0,7410000.0,0
28,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A055550,20160628,0.0,0.0,2
29,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A121440,20170113,1000.0,7110000.0,0
30,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A121440,20170209,1500.0,9585000.0,0
31,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A121440,20170310,2000.0,12680000.0,0
32,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A121440,20170315,0.0,0.0,38
33,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A122870,20160624,500.0,19075000.0,0
34,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A122870,20160712,0.0,0.0,12
35,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A178320,20170327,3.0,112050.0,0
36,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A178320,20170328,0.0,0.0,1
37,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A183300,20170323,3.0,64500.0,0
38,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A183300,20170328,0.0,0.0,3
39,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A207940,20161110,10.0,1440000.0,0
40,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A207940,20161122,0.0,0.0,8
41,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A207940,20161124,100.0,15550000.0,0
42,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A207940,20170111,0.0,0.0,32
43,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A316140,20190213,5600.0,85680000.0,0
44,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A316140,20190220,6600.0,100650000.0,0
45,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A316140,20190508,7402.0,103998100.0,0
46,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A316140,20190510,8380.0,115644000.0,0
47,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A316140,20190614,8501.0,118588950.0,0
48,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A316140,20200313,9001.0,69937770.0,0

### 계좌 번호 별 주식 종목 보유기간 데이터 저장
- 주식 종목 별 보유기간 데이터 따로 저장함

In [18]:
new = pd.concat([sorted_df, sorted_df], axis = 0)
new.reset_index(drop = True)
# new.to_csv('id_stk_dur.csv')

,act_id,iem_cd,bse_dt,bnc_qty,tot_aet_amt,past_d
0,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20160104,2000.0,17200000.0,0
1,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20160107,2500.0,21350000.0,0
2,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20160504,0.0,0.0,81
3,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20170620,1000.0,16850000.0,0
4,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A000030,20170905,0.0,0.0,54
...,...,...,...,...,...,...
93,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A316140,20190220,6600.0,100650000.0,0
94,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A316140,20190508,7402.0,103998100.0,0
95,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A316140,20190510,8380.0,115644000.0,0
96,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A316140,20190614,8501.0,118588950.0,0
97,66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2...,A316140,20200313,9001.0,69937770.0,0

### 모든 계좌번호 종목 별 보유기간 계산

In [19]:
# 잘되나 2개종목만 테스트
# # df = hist[(hist['act_id'] == '25925195f81f0e67e6d983ddd890cd30456f38cb4a3926d4f9d831b57995b021')][['act_id', 'iem_cd', 'bse_dt', 'bnc_qty', 'tot_aet_amt']]
# df2 = hist[(hist['act_id'] == '56dabefb60057f19ee217e3c2aa881627ac213df8fc31d1737af25da9a42a045')][['act_id', 'iem_cd', 'bse_dt', 'bnc_qty', 'tot_aet_amt']]
# # id_cd_list = pd.concat([df, df2], axis = 0)
# # id_cd_list = id_cd_list.reset_index(drop = True)
# test1 = id_cd_list[(id_cd_list['act_id'] == '25925195f81f0e67e6d983ddd890cd30456f38cb4a3926d4f9d831b57995b021')][['act_id', 'iem_cd_list']]
# test2 = id_cd_list[(id_cd_list['act_id'] == '56dabefb60057f19ee217e3c2aa881627ac213df8fc31d1737af25da9a42a045')][['act_id', 'iem_cd_list']]
# id_cd_list = pd.concat([test1, test2], axis = 0)
# id_cd_list = id_cd_list.reset_index(drop = True)

In [20]:
'''
def cal_duration(act_id):
    df = hist[(hist['act_id'] == act_id)][['act_id', 'iem_cd', 'bse_dt', 'bnc_qty', 'tot_aet_amt']]
    sorted_df = df.sort_values(by=['iem_cd', 'bse_dt'], ascending = [True, True])
    sorted_df = sorted_df.reset_index(drop = True)
    sorted_df['past_d'] = 0
    
    cur_dur = {}
#     dur_list = []
    for i in range(len(sorted_df)):    
        # 위에서부터 하나씩 읽어가는데 딕셔너리에 종목코드가 존재하지 않는다면 해당 날짜 추가
        if sorted_df['iem_cd'][i] not in cur_dur:
            cur_dur[sorted_df['iem_cd'][i]] = sorted_df['bse_dt'][i]
        # 이미 존재하면 해당 잔고가 0인지 확인
        else :
            # 일단 보유기간은 사고/팔고 개념이 있으니깐 팔지 않은(0이 아닌) 주식은 계산 X
            # 해당 잔고가 0이면 그 날짜와 딕셔너리에 존재하는 날짜를 사용해 보유 기간 계산
            # 어떤 종목을 다 팔고 다시 사고/팔았을 경우도 생각
            if sorted_df['bnc_qty'][i] == 0:
                sell = sorted_df['bse_dt'][i]
                buy = cur_dur[sorted_df['iem_cd'][i]]
                dur = working_day(buy, sell)
                sorted_df['past_d'][i] = dur 
                # 다 팔았으니깐 딕셔너리에서 해당 종목코드 삭제(나중에 다시 살 경우 대비)
                del cur_dur[sorted_df['iem_cd'][i]]
            # 0이 없다: 다 팔지 않음 ==> 일단 보유기간 측정 안하는 걸로.
            else:
                continue
    last_day = 20201231
    for i in cur_dur.items() :
        past_d = working_day(i[1], last_day)
        sorted_df = sorted_df.append({'act_id' : act_id , 'iem_cd' : i[0], 'bse_dt' : last_day, 'bnc_qty' : 0, 'tot_aet_amt' : 0, 'past_d' : past_d} , ignore_index=True)
    return sorted_df
'''

"\ndef cal_duration(act_id):\n    df = hist[(hist['act_id'] == act_id)][['act_id', 'iem_cd', 'bse_dt', 'bnc_qty', 'tot_aet_amt']]\n    sorted_df = df.sort_values(by=['iem_cd', 'bse_dt'], ascending = [True, True])\n    sorted_df = sorted_df.reset_index(drop = True)\n    sorted_df['past_d'] = 0\n    \n    cur_dur = {}\n#     dur_list = []\n    for i in range(len(sorted_df)):    \n        # 위에서부터 하나씩 읽어가는데 딕셔너리에 종목코드가 존재하지 않는다면 해당 날짜 추가\n        if sorted_df['iem_cd'][i] not in cur_dur:\n            cur_dur[sorted_df['iem_cd'][i]] = sorted_df['bse_dt'][i]\n        # 이미 존재하면 해당 잔고가 0인지 확인\n        else :\n            # 일단 보유기간은 사고/팔고 개념이 있으니깐 팔지 않은(0이 아닌) 주식은 계산 X\n            # 해당 잔고가 0이면 그 날짜와 딕셔너리에 존재하는 날짜를 사용해 보유 기간 계산\n            # 어떤 종목을 다 팔고 다시 사고/팔았을 경우도 생각\n            if sorted_df['bnc_qty'][i] == 0:\n                sell = sorted_df['bse_dt'][i]\n                buy = cur_dur[sorted_df['iem_cd'][i]]\n                dur = working_day(buy, sell)\n                sorted_df['past_d'][i] = dur \n                # 다 팔았으니깐 딕셔너리에서 해당 종목코드 삭제(나중에 다시 살 경우 대비)\n                del cur_dur[sorted_df['iem_cd'][i]]\n            # 0이 없다: 다 팔지 않음 ==> 일단 보유기간 측정 안하는 걸로.\n            else:\n                continue\n    last_day = 20201231\n    for i in cur_dur.items() :\n        past_d = working_day(i[1], last_day)\n        sorted_df = sorted_df.append({'act_id' : act_id , 'iem_cd' : i[0], 'bse_dt' : last_day, 'bnc_qty' : 0, 'tot_aet_amt' : 0, 'past_d' : past_d} , ignore_index=True)\n    return sorted_df\n"

In [40]:
hist

,act_id,bse_dt,iem_cd,bnc_qty,tot_aet_amt,stk_par_pr
0,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200820,A008770,40.0,2828000.0,5000.0
1,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200623,A008770,20.0,1390000.0,5000.0
2,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20160104,A005940,311.0,2982490.0,5000.0
3,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200814,A005930,40.0,2320000.0,100.0
4,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200623,A005930,20.0,1028000.0,100.0
...,...,...,...,...,...,...
2573834,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200806,A035720,1.0,364000.0,500.0
2573835,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200813,A035720,0.0,0.0,500.0
2573836,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200819,A035720,1.0,376500.0,500.0
2573837,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200825,A035720,0.0,0.0,500.0
2573838,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200901,A035720,1.0,401500.0,500.0

In [66]:
def cal_duration(act_id):
    df = hist[(hist['act_id'] == act_id)][['act_id', 'iem_cd', 'bse_dt', 'bnc_qty', 'tot_aet_amt', 'ivs_icn_cd']]
    sorted_df = df.sort_values(by=['iem_cd', 'bse_dt'], ascending = [True, True])
    sorted_df = sorted_df.reset_index(drop = True)
    sorted_df['past_d'] = 0
    cur_dur = {}
#     dur_list = []
    for i in range(len(sorted_df)):    
        # 위에서부터 하나씩 읽어가는데 딕셔너리에 종목코드가 존재하지 않는다면 해당 날짜 추가
        if sorted_df['iem_cd'][i] not in cur_dur:
            if sorted_df['bnc_qty'][i] == 0 :
                sell = sorted_df['bse_dt'][i]
                buy = 20160102
                sorted_df['past_d'][i] = working_day(buy-sell)
            cur_dur[sorted_df['iem_cd'][i]] = sorted_df['bse_dt'][i]
            
        # 이미 존재하면 해당 잔고가 0인지 확인
        else :
            # 일단 보유기간은 사고/팔고 개념이 있으니깐 팔지 않은(0이 아닌) 주식은 계산 X
            # 해당 잔고가 0이면 그 날짜와 딕셔너리에 존재하는 날짜를 사용해 보유 기간 계산
            # 어떤 종목을 다 팔고 다시 사고/팔았을 경우도 생각
            if sorted_df['bnc_qty'][i] == 0:
                sell = sorted_df['bse_dt'][i]
                buy = cur_dur[sorted_df['iem_cd'][i]]
                dur = working_day(buy, sell)
                sorted_df['past_d'][i] = dur 
                # 다 팔았으니깐 딕셔너리에서 해당 종목코드 삭제(나중에 다시 살 경우 대비)
                del cur_dur[sorted_df['iem_cd'][i]]
            # 0이 없다: 다 팔지 않음 ==> 일단 보유기간 측정 안하는 걸로.
            else:
                continue
    last_day = 20201231
    for i in cur_dur.items() :
        past_d = working_day(i[1], last_day)
        sorted_df = sorted_df.append({'act_id' : act_id , 'iem_cd' : i[0], 'bse_dt' : last_day, 'bnc_qty' : 0, 'tot_aet_amt' : 0, 'past_d' : past_d} , ignore_index=True)
    return sorted_df

In [67]:
cal_duration('0007f3d10282e6f9de1eb445a64eb1f13e9ed2308cfbfa9b6e6efa399d0bdf31')

/opt/anaconda3/envs/NH/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,act_id,iem_cd,bse_dt,bnc_qty,tot_aet_amt,ivs_icn_cd,past_d
0,0007f3d10282e6f9de1eb445a64eb1f13e9ed2308cfbfa...,A000660,20200810,15.0,1221000.0,2.0,0
1,0007f3d10282e6f9de1eb445a64eb1f13e9ed2308cfbfa...,A000660,20200813,0.0,0.0,2.0,3
2,0007f3d10282e6f9de1eb445a64eb1f13e9ed2308cfbfa...,A005935,20200327,10.0,411000.0,2.0,0
3,0007f3d10282e6f9de1eb445a64eb1f13e9ed2308cfbfa...,A005935,20200406,17.0,696150.0,2.0,0
4,0007f3d10282e6f9de1eb445a64eb1f13e9ed2308cfbfa...,A005935,20200413,27.0,1128600.0,2.0,0
...,...,...,...,...,...,...,...
114,0007f3d10282e6f9de1eb445a64eb1f13e9ed2308cfbfa...,A109820,20201231,0.0,0.0,NaN,28
115,0007f3d10282e6f9de1eb445a64eb1f13e9ed2308cfbfa...,A148140,20201231,0.0,0.0,NaN,29
116,0007f3d10282e6f9de1eb445a64eb1f13e9ed2308cfbfa...,A178920,20201231,0.0,0.0,NaN,31
117,0007f3d10282e6f9de1eb445a64eb1f13e9ed2308cfbfa...,A185750,20201231,0.0,0.0,NaN,7
118,0007f3d10282e6f9de1eb445a64eb1f13e9ed2308cfbfa...,A214390,20201231,0.0,0.0,NaN,3

#### 보유기간 추가한 csv 파일 생성

In [68]:
for i in notebook.tqdm(range(len(id_cd_list['act_id']))):
    if i == 0:
        act_id = id_cd_list['act_id'][i]
        df1 = cal_duration(act_id)
    else:
        act_id = id_cd_list['act_id'][i]
        df2 = cal_duration(act_id)
        df1 = pd.concat([df1, df2], axis = 0)
df1.reset_index(drop = True)

  0%|          | 0/9992 [00:00<?, ?it/s]

/opt/anaconda3/envs/NH/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,act_id,iem_cd,bse_dt,bnc_qty,tot_aet_amt,ivs_icn_cd,past_d
0,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20190321,1.0,667000.0,4.0,0
1,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20190328,2.0,1270000.0,4.0,0
2,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20190507,3.0,1815000.0,4.0,0
3,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20190716,4.0,2104000.0,4.0,0
4,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20200129,8.0,2964000.0,4.0,0
...,...,...,...,...,...,...,...
2644429,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A031510,20201231,0.0,0.0,NaN,66
2644430,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A035420,20201231,0.0,0.0,NaN,71
2644431,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A039200,20201231,0.0,0.0,NaN,16
2644432,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A088800,20201231,0.0,0.0,NaN,7
2644433,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A111710,20201231,0.0,0.0,NaN,26

In [94]:
# # df1.to_csv(conf.data_path + 'act_id_stk_dur.csv')
# df1.to_csv('old_past_d.csv')

In [73]:
test_df = pd.read_csv('~/Study/' + conf.data_path[2:] + 'test_past_d.csv')  # 아정

In [74]:
test_df

,act_id,iem_cd,byn_dt,hist_d,submit_id,hold_d,sex_dit_cd,cus_age_stn_cd,ivs_icn_cd,cus_aet_stn_cd,mrz_pdt_tp_sgm_cd,lsg_sgm_cd,tco_cus_grd_cd,tot_ivs_te_sgm_cd,mrz_btp_dit_cd,iem_krl_nm,btp_cfc_cd,mkt_pr_tal_scl_tp_cd,stk_dit_cd,past_d
0,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A032640,20200522,153,IDX00001,0,1,9,3,2,2,9,5,5,8,418,4,1,1,159.0
1,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A160600,20190823,335,IDX00002,0,1,9,3,2,2,9,5,5,8,2230,10,3,99,354.0
2,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A234340,20200611,139,IDX00003,0,1,9,3,2,2,9,5,5,8,1515,13,2,99,145.0
3,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A131760,20200120,236,IDX00004,0,1,9,3,2,2,9,5,5,8,2681,13,3,99,248.0
4,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A293490,20201217,9,IDX00005,0,1,9,3,2,2,9,5,5,8,2450,13,1,2,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70591,564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...,A000810,20201127,23,IDX70592,0,1,6,0,5,2,5,3,5,2,1369,2,1,1,12.5
70592,564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...,A005945,20200731,103,IDX70593,0,1,6,0,5,2,5,3,5,2,444,2,99,99,109.0
70593,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A004740,20170704,858,IDX70594,0,1,4,4,2,2,3,4,3,8,1280,14,3,99,912.0
70594,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A001630,20201215,11,IDX70595,0,1,4,4,2,2,3,4,3,8,2373,8,2,99,6.5
70595,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A185750,20201224,4,IDX70596,0,1,4,4,2,2,3,4,3,8,2371,8,2,1,10.0

In [76]:
test_df2 = test_df[['act_id', 'iem_cd']]

In [77]:
test_df2

                                                  act_id   iem_cd
0      0ad104dbed99be0cd858aa772765ddedade554601a981b...  A032640
1      0ad104dbed99be0cd858aa772765ddedade554601a981b...  A160600
2      0ad104dbed99be0cd858aa772765ddedade554601a981b...  A234340
3      0ad104dbed99be0cd858aa772765ddedade554601a981b...  A131760
4      0ad104dbed99be0cd858aa772765ddedade554601a981b...  A293490
...                                                  ...      ...
70591  564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...  A000810
70592  564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...  A005945
70593  4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...  A004740
70594  4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...  A001630
70595  4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...  A185750

[70596 rows x 2 columns]

In [96]:
df1

,act_id,iem_cd,bse_dt,bnc_qty,tot_aet_amt,ivs_icn_cd,past_d
0,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20190321,1.0,667000.0,4.0,0
1,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20190328,2.0,1270000.0,4.0,0
2,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20190507,3.0,1815000.0,4.0,0
3,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20190716,4.0,2104000.0,4.0,0
4,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20200129,8.0,2964000.0,4.0,0
...,...,...,...,...,...,...,...
91,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A031510,20201231,0.0,0.0,NaN,66
92,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A035420,20201231,0.0,0.0,NaN,71
93,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A039200,20201231,0.0,0.0,NaN,16
94,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A088800,20201231,0.0,0.0,NaN,7
95,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A111710,20201231,0.0,0.0,NaN,26

In [99]:
df2 = df1.reset_index(drop=True)

In [100]:
df3 = df2[(df2['past_d'] != 0)]

In [103]:
df4 = df3.groupby(['act_id', 'iem_cd'])['past_d'].apply(list).reset_index(name='past_d_list')

In [130]:
for i in range()

482915

In [107]:
df5 = df3.groupby(['act_id', 'iem_cd'])['past_d'].mean().reset_index(name='act_past_d_mean')

In [109]:
past_d_mean = df5

In [115]:
past_d_mean = past_d_mean.rename(columns = {'act_past_d_mean':'past_d'})

In [117]:
past_d_mean

                                                   act_id   iem_cd  past_d
0       0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...  A002270   345.0
1       0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...  A005070    19.0
2       0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...  A005930     1.0
3       0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...  A033270    74.0
4       0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...  A036000   132.0
...                                                   ...      ...     ...
482910  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...  A253450   129.0
482911  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...  A264450     8.0
482912  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...  A267320    47.0
482913  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...  A293490    60.0
482914  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...  A298040     3.0

[482915 rows x 3 columns]

In [118]:
test_df3 = pd.merge(test_df2, past_d_mean, how = 'left', on = ['act_id', 'iem_cd'])

In [121]:
test_df3

                                                  act_id   iem_cd      past_d
0      0ad104dbed99be0cd858aa772765ddedade554601a981b...  A032640  150.000000
1      0ad104dbed99be0cd858aa772765ddedade554601a981b...  A160600  330.000000
2      0ad104dbed99be0cd858aa772765ddedade554601a981b...  A234340  137.000000
3      0ad104dbed99be0cd858aa772765ddedade554601a981b...  A131760  231.000000
4      0ad104dbed99be0cd858aa772765ddedade554601a981b...  A293490    9.000000
...                                                  ...      ...         ...
70591  564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...  A000810   12.000000
70592  564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...  A005945  101.000000
70593  4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...  A004740  851.000000
70594  4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...  A001630    6.000000
70595  4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...  A185750    3.083333

[70596 rows x 3 columns]

In [120]:
test_df3.to_csv('test_df(past_d from stk_bnc_hist).csv')

In [ ]:
# df5 = df3.groupby(['act_id', 'iem_cd'])['past_d'].mean().reset_index(name='act_past_d_mean')
# df6 = df5['act_past_d_mean']
# df7 = pd.concat([df4, df6], axis = 1)
# df7
# # df7.to_csv(conf.data_path + 'id_stk_dur_list.csv', index = False)
# df7.to_csv('~/Study/' + conf.data_path[2:] + 'id_stk_dur_list.csv', index = False)

### 새로 계산한 sell/buy history

In [27]:
stk_hist =  pd.read_csv('act_id_stk_dur.csv')
stk_hist

,Unnamed: 0,act_id,iem_cd,bse_dt,bnc_qty,tot_aet_amt,ivs_icn_cd,past_d
0,0,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20190321,1.0,667000.0,4.0,0
1,1,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20190328,2.0,1270000.0,4.0,0
2,2,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20190507,3.0,1815000.0,4.0,0
3,3,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20190716,4.0,2104000.0,4.0,0
4,4,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20200129,8.0,2964000.0,4.0,0
...,...,...,...,...,...,...,...,...
459210,15,2b4993571c02f6a6b7500f71f0416687a830c7ad844929...,A096775,20200828,341.0,43648000.0,99.0,0
459211,16,2b4993571c02f6a6b7500f71f0416687a830c7ad844929...,A096775,20200831,0.0,0.0,99.0,1
459212,17,2b4993571c02f6a6b7500f71f0416687a830c7ad844929...,A009900,20201231,0.0,0.0,NaN,10
459213,18,2b4993571c02f6a6b7500f71f0416687a830c7ad844929...,A012200,20201231,0.0,0.0,NaN,1
459214,19,2b4993571c02f6a6b7500f71f0416687a830c7ad844929...,A096770,20201231,0.0,0.0,NaN,81

##### 계좌번호 / 종목코드 / 보유기간 리스트

In [28]:
# df1 = stk_hist[(stk_hist['act_id'] == '66d8611661423c1e0764994be4a7afe772e70a8f7f3cd2da05b646085d8eb408')]

df1 = stk_hist

In [29]:
df1

,Unnamed: 0,act_id,iem_cd,bse_dt,bnc_qty,tot_aet_amt,ivs_icn_cd,past_d
0,0,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20190321,1.0,667000.0,4.0,0
1,1,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20190328,2.0,1270000.0,4.0,0
2,2,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20190507,3.0,1815000.0,4.0,0
3,3,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20190716,4.0,2104000.0,4.0,0
4,4,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20200129,8.0,2964000.0,4.0,0
...,...,...,...,...,...,...,...,...
459210,15,2b4993571c02f6a6b7500f71f0416687a830c7ad844929...,A096775,20200828,341.0,43648000.0,99.0,0
459211,16,2b4993571c02f6a6b7500f71f0416687a830c7ad844929...,A096775,20200831,0.0,0.0,99.0,1
459212,17,2b4993571c02f6a6b7500f71f0416687a830c7ad844929...,A009900,20201231,0.0,0.0,NaN,10
459213,18,2b4993571c02f6a6b7500f71f0416687a830c7ad844929...,A012200,20201231,0.0,0.0,NaN,1
459214,19,2b4993571c02f6a6b7500f71f0416687a830c7ad844929...,A096770,20201231,0.0,0.0,NaN,81

In [30]:
df2 = df1.reset_index(drop=True)
df3 = df2[(df2['past_d'] != 0)]
df4 = df3.groupby(['act_id', 'iem_cd'])['past_d'].apply(list).reset_index(name='past_d_list')

In [31]:
df4

                                                  act_id   iem_cd past_d_list
0      0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...  A002270       [345]
1      0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...  A005070        [19]
2      0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...  A005930         [1]
3      0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...  A033270        [74]
4      0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...  A036000       [132]
...                                                  ...      ...         ...
85125  2b4993571c02f6a6b7500f71f0416687a830c7ad844929...  A012200         [1]
85126  2b4993571c02f6a6b7500f71f0416687a830c7ad844929...  A015540         [5]
85127  2b4993571c02f6a6b7500f71f0416687a830c7ad844929...  A053030        [52]
85128  2b4993571c02f6a6b7500f71f0416687a830c7ad844929...  A096770    [54, 81]
85129  2b4993571c02f6a6b7500f71f0416687a830c7ad844929...  A096775         [1]

[85130 rows x 3 columns]

#### 계좌번호 종목 당 최대 보유일

In [32]:
df4['max_d'] = 0
for i in range(len(df4)):
    d_list = df4['past_d_list'][i]
    max_d = max(d_list)
    df4['max_d'][i] = max_d

/opt/anaconda3/envs/NH/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [33]:
df4

,act_id,iem_cd,past_d_list,max_d
0,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,[345],345
1,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A005070,[19],19
2,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A005930,[1],1
3,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A033270,[74],74
4,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A036000,[132],132
...,...,...,...,...
85125,2b4993571c02f6a6b7500f71f0416687a830c7ad844929...,A012200,[1],1
85126,2b4993571c02f6a6b7500f71f0416687a830c7ad844929...,A015540,[5],5
85127,2b4993571c02f6a6b7500f71f0416687a830c7ad844929...,A053030,[52],52
85128,2b4993571c02f6a6b7500f71f0416687a830c7ad844929...,A096770,"[54, 81]",81
85129,2b4993571c02f6a6b7500f71f0416687a830c7ad844929...,A096775,[1],1

#### 계좌번호 종목 당 거래 횟수

In [34]:
df5 = df2.groupby(['act_id', 'iem_cd'])['bse_dt'].count().reset_index(name='bnc_count')
df5

                                                  act_id   iem_cd  bnc_count
0      0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...  A002270          8
1      0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...  A005070          2
2      0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...  A005930          2
3      0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...  A033270          4
4      0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...  A036000          4
...                                                  ...      ...        ...
85346  2b4993571c02f6a6b7500f71f0416687a830c7ad844929...  A012200          2
85347  2b4993571c02f6a6b7500f71f0416687a830c7ad844929...  A015540          2
85348  2b4993571c02f6a6b7500f71f0416687a830c7ad844929...  A053030          2
85349  2b4993571c02f6a6b7500f71f0416687a830c7ad844929...  A096770          4
85350  2b4993571c02f6a6b7500f71f0416687a830c7ad844929...  A096775          2

[85351 rows x 3 columns]

#### 계좌번호/종목별 최대보유기간&거래 횟수

In [35]:
df6 = pd.merge(df4, df5, on = ('act_id', 'iem_cd'))
# df6[(df6['act_id'] == '25925195f81f0e67e6d983ddd890cd30456f38cb4a3926d4f9d831b57995b021')]
df6

,act_id,iem_cd,past_d_list,max_d,bnc_count
0,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,[345],345,8
1,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A005070,[19],19,2
2,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A005930,[1],1,2
3,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A033270,[74],74,4
4,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A036000,[132],132,4
...,...,...,...,...,...
85125,2b4993571c02f6a6b7500f71f0416687a830c7ad844929...,A012200,[1],1,2
85126,2b4993571c02f6a6b7500f71f0416687a830c7ad844929...,A015540,[5],5,2
85127,2b4993571c02f6a6b7500f71f0416687a830c7ad844929...,A053030,[52],52,2
85128,2b4993571c02f6a6b7500f71f0416687a830c7ad844929...,A096770,"[54, 81]",81,4
85129,2b4993571c02f6a6b7500f71f0416687a830c7ad844929...,A096775,[1],1,2

In [36]:
# df6.to_csv('act_id_stk_max_d_count.csv')

In [37]:
test_df = pd.read_csv('~/Study/' + conf.data_path[2:] + 'test_past_d.csv')  # 아정
test_df

,act_id,iem_cd,byn_dt,hist_d,submit_id,hold_d,sex_dit_cd,cus_age_stn_cd,ivs_icn_cd,cus_aet_stn_cd,mrz_pdt_tp_sgm_cd,lsg_sgm_cd,tco_cus_grd_cd,tot_ivs_te_sgm_cd,mrz_btp_dit_cd,iem_krl_nm,btp_cfc_cd,mkt_pr_tal_scl_tp_cd,stk_dit_cd,past_d
0,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A032640,20200522,153,IDX00001,0,1,9,3,2,2,9,5,5,8,418,4,1,1,159.0
1,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A160600,20190823,335,IDX00002,0,1,9,3,2,2,9,5,5,8,2230,10,3,99,354.0
2,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A234340,20200611,139,IDX00003,0,1,9,3,2,2,9,5,5,8,1515,13,2,99,145.0
3,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A131760,20200120,236,IDX00004,0,1,9,3,2,2,9,5,5,8,2681,13,3,99,248.0
4,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A293490,20201217,9,IDX00005,0,1,9,3,2,2,9,5,5,8,2450,13,1,2,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70591,564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...,A000810,20201127,23,IDX70592,0,1,6,0,5,2,5,3,5,2,1369,2,1,1,12.5
70592,564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...,A005945,20200731,103,IDX70593,0,1,6,0,5,2,5,3,5,2,444,2,99,99,109.0
70593,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A004740,20170704,858,IDX70594,0,1,4,4,2,2,3,4,3,8,1280,14,3,99,912.0
70594,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A001630,20201215,11,IDX70595,0,1,4,4,2,2,3,4,3,8,2373,8,2,99,6.5
70595,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A185750,20201224,4,IDX70596,0,1,4,4,2,2,3,4,3,8,2371,8,2,1,10.0

In [38]:
df7 = df6[['act_id', 'iem_cd', 'max_d', 'bnc_count']]
df7

,act_id,iem_cd,max_d,bnc_count
0,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,345,8
1,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A005070,19,2
2,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A005930,1,2
3,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A033270,74,4
4,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A036000,132,4
...,...,...,...,...
85125,2b4993571c02f6a6b7500f71f0416687a830c7ad844929...,A012200,1,2
85126,2b4993571c02f6a6b7500f71f0416687a830c7ad844929...,A015540,5,2
85127,2b4993571c02f6a6b7500f71f0416687a830c7ad844929...,A053030,52,2
85128,2b4993571c02f6a6b7500f71f0416687a830c7ad844929...,A096770,81,4
85129,2b4993571c02f6a6b7500f71f0416687a830c7ad844929...,A096775,1,2

#### train/test data column 추가

In [39]:
new_test_df = pd.merge(test_df, df7, how = 'left', on = ('act_id', 'iem_cd'))

In [40]:
# new_test_df.to_csv('test_past_d(2).csv')

##### 평균 추가

In [105]:
df4

                                                   act_id   iem_cd past_d_list
0       0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...  A002270       [345]
1       0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...  A005070        [19]
2       0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...  A005930         [1]
3       0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...  A033270        [74]
4       0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...  A036000       [132]
...                                                   ...      ...         ...
482910  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...  A253450       [129]
482911  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...  A264450         [8]
482912  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...  A267320        [47]
482913  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...  A293490        [60]
482914  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...  A298040         [3]

[482915 rows x 3 columns]

In [42]:
df5 = df3.groupby(['act_id', 'iem_cd'])['past_d'].mean().reset_index(name='act_past_d_mean')
df6 = df5['act_past_d_mean']
df7 = pd.concat([df4, df6], axis = 1)
df7
# df7.to_csv(conf.data_path + 'id_stk_dur_list.csv', index = False)
df7.to_csv('~/Study/' + conf.data_path[2:] + 'id_stk_dur_list.csv', index = False)

### stk_bnc_hist - 잔고수량

In [66]:
hist = pd.read_csv('~/Study/' + conf.data_path[2:] + 'stk_bnc_hist.csv')  # 아정
hist

,act_id,bse_dt,iem_cd,bnc_qty,tot_aet_amt,stk_par_pr
0,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200820,A008770,40.0,2828000.0,5000.0
1,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200623,A008770,20.0,1390000.0,5000.0
2,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20160104,A005940,311.0,2982490.0,5000.0
3,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200814,A005930,40.0,2320000.0,100.0
4,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200623,A005930,20.0,1028000.0,100.0
...,...,...,...,...,...,...
2573834,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200806,A035720,1.0,364000.0,500.0
2573835,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200813,A035720,0.0,0.0,500.0
2573836,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200819,A035720,1.0,376500.0,500.0
2573837,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200825,A035720,0.0,0.0,500.0
2573838,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200901,A035720,1.0,401500.0,500.0

In [67]:
# # 정렬된 stk_bnc_hist 데이터
sorted_hist = hist.sort_values(by=['iem_cd', 'bse_dt'], ascending = [True, True])
sorted_hist = sorted_hist.reset_index(drop = True)
sorted_hist

,act_id,bse_dt,iem_cd,bnc_qty,tot_aet_amt,stk_par_pr
0,1c52768eebea2eab6a7ed8cc95d838a3732fc6dce51ba3...,20160111,A000020,200.0,1876000.0,1000.0
1,1c52768eebea2eab6a7ed8cc95d838a3732fc6dce51ba3...,20160201,A000020,0.0,0.0,1000.0
2,4d2a1ff36cdc0c50b4ede699f3e8720742d5b9f6dc1bc9...,20170404,A000020,50.0,464000.0,1000.0
3,4d2a1ff36cdc0c50b4ede699f3e8720742d5b9f6dc1bc9...,20170405,A000020,0.0,0.0,1000.0
4,66826fbfe6798d86b68beafc4ff6ec5f824b8e49e1f057...,20171017,A000020,3.0,27780.0,1000.0
...,...,...,...,...,...,...
2573834,dfd527e8d7d03da0f17c40bb43eb36fdd3124f490de54a...,20201229,A372330,50.0,488500.0,0.0
2573835,7c3a71b4107c2c025504d92353d932b204b144494a2276...,20201229,A372330,1000.0,9770000.0,0.0
2573836,8523aaa36efa1ec205ba8c772caa7f76fb5dc0b1265075...,20201230,A372330,34.0,342210.0,0.0
2573837,91c93c364798953da5edf78e46ef986037e82a10d88098...,20201228,A373490,10.0,101450.0,0.0
2573838,91c93c364798953da5edf78e46ef986037e82a10d88098...,20201229,A373490,11.0,115225.0,0.0

In [42]:
sorted_hist = sorted_hist.groupby(['act_id', 'iem_cd'])['bnc_qty'].apply(list).reset_index(name = 'qty_list')

In [16]:
sorted_hist

,act_id,iem_cd,qty_list
0,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,"[1.0, 2.0, 3.0, 4.0, 8.0, 10.0, 8.0, 0.0]"
1,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A005070,"[10.0, 0.0]"
2,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A005930,"[10.0, 0.0]"
3,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A033270,"[5.0, 10.0, 13.0, 0.0]"
4,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A036000,"[20.0, 80.0, 100.0, 0.0]"
...,...,...,...
484060,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A253450,"[1.0, 0.0]"
484061,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A264450,"[2.0, 0.0]"
484062,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A267320,"[15.0, 0.0]"
484063,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A293490,"[2.0, 3.0, 4.0, 5.0, 0.0]"
484064,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A298040,"[15.0, 0.0]"

In [17]:
sorted_hist['qty_change'] = 0
sorted_hist

,act_id,iem_cd,qty_list,qty_change
0,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,"[1.0, 2.0, 3.0, 4.0, 8.0, 10.0, 8.0, 0.0]",0
1,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A005070,"[10.0, 0.0]",0
2,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A005930,"[10.0, 0.0]",0
3,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A033270,"[5.0, 10.0, 13.0, 0.0]",0
4,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A036000,"[20.0, 80.0, 100.0, 0.0]",0
...,...,...,...,...
484060,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A253450,"[1.0, 0.0]",0
484061,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A264450,"[2.0, 0.0]",0
484062,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A267320,"[15.0, 0.0]",0
484063,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A293490,"[2.0, 3.0, 4.0, 5.0, 0.0]",0
484064,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A298040,"[15.0, 0.0]",0

In [21]:
# for i in notebook.tqdm(range(len(sorted_hist))):
#     qty_change = []
#     tmp = sorted_hist['qty_list'][i]
#     for j in range(len(tmp)-1):
#         change = abs(tmp[j+1] - tmp[j])
#         qty_change.append(change)
#     qty_change = np.array(qty_change)
#     qty_mean = np.mean(qty_change)
    
#     sorted_hist['qty_change'][i] = qty_mean

  0%|          | 0/484065 [00:00<?, ?it/s]

/opt/anaconda3/envs/NH/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/opt/anaconda3/envs/NH/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3420: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/opt/anaconda3/envs/NH/lib/python3.7/site-packages/numpy/core/_methods.py:188: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [22]:
sorted_hist

,act_id,iem_cd,qty_list,qty_change
0,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,"[1.0, 2.0, 3.0, 4.0, 8.0, 10.0, 8.0, 0.0]",2.714286
1,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A005070,"[10.0, 0.0]",10.000000
2,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A005930,"[10.0, 0.0]",10.000000
3,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A033270,"[5.0, 10.0, 13.0, 0.0]",7.000000
4,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A036000,"[20.0, 80.0, 100.0, 0.0]",60.000000
...,...,...,...,...
484060,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A253450,"[1.0, 0.0]",1.000000
484061,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A264450,"[2.0, 0.0]",2.000000
484062,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A267320,"[15.0, 0.0]",15.000000
484063,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A293490,"[2.0, 3.0, 4.0, 5.0, 0.0]",2.000000
484064,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A298040,"[15.0, 0.0]",15.000000

#### 잔고금액 변동

In [23]:
hist = pd.read_csv('~/Study/' + conf.data_path[2:] + 'stk_bnc_hist.csv')  # 아정
sorted_hist2 = hist.sort_values(by=['iem_cd', 'bse_dt'], ascending = [True, True])
sorted_hist2 = sorted_hist2.reset_index(drop = True)
sorted_hist2 = sorted_hist2.groupby(['act_id', 'iem_cd'])['tot_aet_amt'].apply(list).reset_index(name = 'aet_amt_list')
sorted_hist2['aet_amt_change'] = 0
sorted_hist2

,act_id,iem_cd,aet_amt_list,aet_amt_change
0,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,"[667000.0, 1270000.0, 1815000.0, 2104000.0, 29...",0
1,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A005070,"[152500.0, 0.0]",0
2,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A005930,"[440500.0, 0.0]",0
3,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A033270,"[130250.0, 238000.0, 293800.0, 0.0]",0
4,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A036000,"[99300.0, 400000.0, 502000.0, 0.0]",0
...,...,...,...,...
484060,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A253450,"[84700.0, 0.0]",0
484061,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A264450,"[52900.0, 0.0]",0
484062,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A267320,"[81600.0, 0.0]",0
484063,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A293490,"[147600.0, 198900.0, 196600.0, 245500.0, 0.0]",0
484064,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A298040,"[1072500.0, 0.0]",0

In [24]:
# for i in notebook.tqdm(range(len(sorted_hist2))):
#     aet_change = []
#     tmp = sorted_hist2['aet_amt_list'][i]
#     for j in range(len(tmp)-1):
#         change = abs(tmp[j+1] - tmp[j])
#         aet_change.append(change)
#     aet_change = np.array(aet_change)
#     aet_mean = np.mean(aet_change)
    
#     sorted_hist2['aet_amt_change'][i] = aet_mean

  0%|          | 0/484065 [00:00<?, ?it/s]

/opt/anaconda3/envs/NH/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/opt/anaconda3/envs/NH/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3420: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/opt/anaconda3/envs/NH/lib/python3.7/site-packages/numpy/core/_methods.py:188: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/opt/anaconda3/envs/NH/lib/python3.7/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [25]:
sorted_hist2

,act_id,iem_cd,aet_amt_list,aet_amt_change
0,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,"[667000.0, 1270000.0, 1815000.0, 2104000.0, 29...",923285.0
1,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A005070,"[152500.0, 0.0]",152500.0
2,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A005930,"[440500.0, 0.0]",440500.0
3,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A033270,"[130250.0, 238000.0, 293800.0, 0.0]",152450.0
4,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A036000,"[99300.0, 400000.0, 502000.0, 0.0]",301566.0
...,...,...,...,...
484060,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A253450,"[84700.0, 0.0]",84700.0
484061,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A264450,"[52900.0, 0.0]",52900.0
484062,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A267320,"[81600.0, 0.0]",81600.0
484063,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A293490,"[147600.0, 198900.0, 196600.0, 245500.0, 0.0]",87000.0
484064,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A298040,"[1072500.0, 0.0]",1072500.0

In [31]:
new_hist = pd.merge(sorted_hist[['act_id', 'iem_cd', 'qty_change']], sorted_hist2[['act_id', 'iem_cd', 'aet_amt_change']], on=('act_id', 'iem_cd'))
new_hist

,act_id,iem_cd,qty_change,aet_amt_change
0,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,2.714286,923285.0
1,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A005070,10.000000,152500.0
2,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A005930,10.000000,440500.0
3,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A033270,7.000000,152450.0
4,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A036000,60.000000,301566.0
...,...,...,...,...
484060,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A253450,1.000000,84700.0
484061,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A264450,2.000000,52900.0
484062,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A267320,15.000000,81600.0
484063,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A293490,2.000000,87000.0
484064,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A298040,15.000000,1072500.0

In [32]:
new_hist.to_csv('qty_amt_change.csv')

In [34]:
train_df = pd.read_csv('~/Study/' + conf.data_path[2:] + 'train_past_d(2).csv')  # 아정
test_df = pd.read_csv('~/Study/' + conf.data_path[2:] + 'test_past_d(2).csv')  # 아정
new_train_df = pd.merge(train_df, new_hist, how = 'left', on = ('act_id', 'iem_cd'))
new_test_df = pd.merge(test_df, new_hist, how = 'left', on = ('act_id', 'iem_cd'))

In [36]:
new_train_df.to_csv('train_past_d(3).csv')
new_test_df.to_csv('test_past_d(3).csv')

#### stk_bnc_hist 데이터에 주가 추가하기

In [95]:
# # 정렬된 stk_bnc_hist 데이터
# sorted_hist = hist.sort_values(by=['iem_cd', 'bse_dt'], ascending = [True, True])
# stk_bnc_hist_share_price = sorted_hist.reset_index(drop = True)
# stk_bnc_hist_share_price['end_price'] = 0
# stk_bnc_hist_share_price = stk_bnc_hist_share_price.reset_index(drop = True)
new_hist = hist
new_hist['end_price'] = 0
new_hist

,act_id,bse_dt,iem_cd,bnc_qty,tot_aet_amt,stk_par_pr,end_price
0,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200820,A008770,40.0,2828000.0,5000.0,0
1,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200623,A008770,20.0,1390000.0,5000.0,0
2,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20160104,A005940,311.0,2982490.0,5000.0,0
3,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200814,A005930,40.0,2320000.0,100.0,0
4,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200623,A005930,20.0,1028000.0,100.0,0
...,...,...,...,...,...,...,...
2573834,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200806,A035720,1.0,364000.0,500.0,0
2573835,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200813,A035720,0.0,0.0,500.0,0
2573836,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200819,A035720,1.0,376500.0,500.0,0
2573837,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200825,A035720,0.0,0.0,500.0,0
2573838,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200901,A035720,1.0,401500.0,500.0,0

In [96]:
for i in range(len(new_hist)):
    tot = new_hist['tot_aet_amt'][i]
    qty = new_hist['bnc_qty'][i]
    end_price = tot // qty
    new_hist['end_price'][i] = end_price

/opt/anaconda3/envs/NH/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/anaconda3/envs/NH/lib/python3.7/site-packages/ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in double_scalars
  after removing the cwd from sys.path.
/opt/anaconda3/envs/NH/lib/python3.7/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [100]:
new_hist

,act_id,bse_dt,iem_cd,bnc_qty,tot_aet_amt,stk_par_pr,end_price
0,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200820,A008770,40.0,2828000.0,5000.0,70700.0
1,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200623,A008770,20.0,1390000.0,5000.0,69500.0
2,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20160104,A005940,311.0,2982490.0,5000.0,9590.0
3,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200814,A005930,40.0,2320000.0,100.0,58000.0
4,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200623,A005930,20.0,1028000.0,100.0,51400.0
...,...,...,...,...,...,...,...
2573834,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200806,A035720,1.0,364000.0,500.0,364000.0
2573835,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200813,A035720,0.0,0.0,500.0,NaN
2573836,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200819,A035720,1.0,376500.0,500.0,376500.0
2573837,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200825,A035720,0.0,0.0,500.0,NaN
2573838,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,20200901,A035720,1.0,401500.0,500.0,401500.0

In [102]:
# NaN : 어차피 다 판 날짜는 종가 필요 X (train 데이터에도 매수날짜만 있음)
new_hist.to_csv('stk_bnc_hist_end_price.csv')

### 투자 성향 별 보유기간

In [6]:
ivs_lst = sorted(hist['ivs_icn_cd'].unique())
ivs_lst

[0, 1, 2, 3, 4, 5, 9, 99]

In [8]:
df_lst = [df0, df1, df2, df3, df4, df5, df9, df99]

In [11]:
for i in notebook.tqdm(range(len(ivs_lst))) :
    ivs_code = ivs_lst[i]
    df = hist[hist['ivs_icn_cd'] == ivs_code]
    id_list = df['act_id'].unique()
    for j in notebook.tqdm(range(len(id_list))):
        if j == 0:
            act_id = id_list[j]
            tmp_df1 = cal_duration(act_id)
        else:
            act_id = id_list[j]
            tmp_df2 = cal_duration(act_id)
            tmp_df1 = pd.concat([tmp_df1, tmp_df2], axis = 0)
    tmp_df1.reset_index(drop = True)
    df_lst[i] = tmp_df1

  0%|          | 0/8 [00:00<?, ?it/s]

  0%|          | 0/171 [00:00<?, ?it/s]

/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  0%|          | 0/209 [00:00<?, ?it/s]

  0%|          | 0/1467 [00:00<?, ?it/s]

  0%|          | 0/1668 [00:00<?, ?it/s]

  0%|          | 0/1858 [00:00<?, ?it/s]

  0%|          | 0/932 [00:00<?, ?it/s]

  0%|          | 0/3 [00:00<?, ?it/s]

  0%|          | 0/3684 [00:00<?, ?it/s]

In [30]:
for i in range(len(ivs_lst)) :
    if i == 0 :
        df1 = df_lst[i].reset_index(drop=True)
        df1 = df1[(df1['past_d']) != 0]
        df1 = df1.groupby(['iem_cd'])['past_d'].mean().reset_index(name='ivs_past_d_mean')
        df1['ivs_icn_cd'] = ivs_lst[i]
    else :
        df2 = df_lst[i].reset_index(drop=True)
        df2 = df2[(df2['past_d']) != 0]
        df2 = df2.groupby(['iem_cd'])['past_d'].mean().reset_index(name='ivs_past_d_mean')
        df2['ivs_icn_cd'] = ivs_lst[i]
        df1 = pd.concat([df1, df2], axis = 0)
df1.to_csv(conf.data_path + f'preprocessing/ivs_past_d_mean.csv', index= False)