## 국내주식 잔고이력(STK_BNC_HIST) & 고객 및 주거래 계좌 정보

[국내주식 잔고이력]

기간 : 2016년 1월 ~ 2020년 12월
- act_id : 계좌번호 (EX. 27666E123D)
- bse_dt : 기준일자 (EX. 20200522) -> 조회
- iem_cd : 종목코드 (EX. A000100)
- bnc_qty : 잔고수량 (EX. 500), 종목 보유 잔고수량을 말한다.  -> 몇 주 가지고 있냐? 
- tot_aet_amt: 잔고금액 (EX. 945000), 종목 평가금액을 말한다. -> 주가g(날마다 바뀜) * 수량
- stk_par_pr : 액면가 (EX. 1000), 주당 액면가를 말한다. ->  기업이 주식을 최초로 발행할때 정한 주식 1주당 가격

[고객 및 주거래 계좌 정보]

- act_id: 계좌 ID
- sex_dit_cd: 성별
- cus_age_stn_cd: 연령대
- ivs_icn_cd: 투자성향
- cus_aet_stn_cd: 자산구간
- mrz_pdt_tp_sgm_cd: 주거래상품군
- lsg_sgm_cd: Life Style
- tco_cus_grd_cd: 서비스 등급
- tot_ivs_te_sgm_cd: 총 투자기간
- mrz_btp_dit_cd: 주거래업종구분

### 분석 할 것
- 투자 성향 별 보유기간
- life stage 별 보유기간
- 계좌 별 평균 보유 기간
- 투자 성향 별 자주 파는 사람인지? 아닌지

In [20]:
import pandas as pd
import numpy as np
import os
import sys
sys.path.append('../')

from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import core.config as conf
from matplotlib import rc
from tqdm import trange, notebook

%matplotlib inline

In [21]:
# 맥북
rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

In [22]:
# hist = pd.read_csv(conf.data_path + 'stk_bnc_hist.csv')
hist = pd.read_csv('~/Study/' + conf.data_path[2:] + 'stk_bnc_hist.csv')
iem = pd.read_csv('~/Study/' + conf.data_path[2:] + 'iem_info_20210902.csv')
cus = pd.read_csv('~/Study/' + conf.data_path[2:] + 'cus_info.csv')

In [23]:
hist.head()

,act_id,bse_dt,iem_cd,bnc_qty,tot_aet_amt,stk_par_pr
0,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200820,A008770,40.0,2828000.0,5000.0
1,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200623,A008770,20.0,1390000.0,5000.0
2,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20160104,A005940,311.0,2982490.0,5000.0
3,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200814,A005930,40.0,2320000.0,100.0
4,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200623,A005930,20.0,1028000.0,100.0

In [24]:
iem.head()

    iem_cd iem_krl_nm  btp_cfc_cd  mkt_pr_tal_scl_tp_cd  stk_dit_cd
0  A000020       동화약품           8                     2          99
1  A000080      하이트진로          14                     2           1
2  A000180     성창기업지주           5                     3          99
3  A000227    유유제약2우B           8                    99          99
4  A000325     노루홀딩스우           2                    99          99

In [25]:
cus.head()

,act_id,sex_dit_cd,cus_age_stn_cd,ivs_icn_cd,cus_aet_stn_cd,mrz_pdt_tp_sgm_cd,lsg_sgm_cd,tco_cus_grd_cd,tot_ivs_te_sgm_cd,mrz_btp_dit_cd
0,64aae8dd71e5c0761000db9f9a6779e504e7a4aa9dc097...,1,4,99,1,2,3,3,6,16
1,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,1,6,4,4,2,5,2,6,1
2,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,2,7,4,3,2,5,5,6,9
3,6d497facfa1ea5901b827335553331f8555fec02a8184f...,2,6,4,4,8,5,3,6,16
4,b727c78d2cfc246c97b677f29a034399a0c7e7873fff44...,1,5,2,2,2,5,5,5,16

## 계좌 번호 별 투자성향/Life Stage/주식리스트/보유기간리스트

- act_id / ivs_icn_cd / lsg_sgm_cd / iem_cd_list / dur_list

### 계좌 번호 별 보유 주식 코드 리스트 & 개수

In [26]:
df = hist[['act_id', 'iem_cd']]
id_cd_count = df.groupby('act_id')['iem_cd'].count().reset_index(name='count')
id_cd_list = df.groupby('act_id')['iem_cd'].apply(list).reset_index(name='iem_cd_list')

for i in range(9992):
    cd_list = id_cd_list['iem_cd_list'][i]
    cd_set = set(cd_list)
    count = len(cd_set)
    id_cd_list['iem_cd_list'][i] = cd_set

id_cd_list

,act_id,iem_cd_list
0,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,"{A307950, A093370, A033270, A091230, A131030, ..."
1,0007f3d10282e6f9de1eb445a64eb1f13e9ed2308cfbfa...,"{A241560, A035420, A148140, A024060, A175250, ..."
2,0008d1bfac569bdb998897e2eb8519dec06b9277a686f4...,"{A226950, A179900, A307950, A004000, A160550, ..."
3,000a83a961cbcbce40673aed998effbd462fb10dcac8e6...,"{A035720, A068290, A192820, A005930, A051910, ..."
4,000b92ca83a96312a0909b1f489340f4d399c86555012f...,"{A005930, A360200, A000660, A367380, A005935, ..."
...,...,...
9987,ffea89aa464a4fcf8a5416989d21deef4e748192ba17bf...,"{A034220, A037400, A082850, A153490, A066570}"
9988,ffecc8e2823943ef1a7b0d9c6512f716a88032a1bdf7ba...,"{A118990, A078130, A038340, A003000, A003060, ..."
9989,ffee399294db1c721e010cbf3dae5c8a1f140dbaf2dcae...,"{A082800, A122870, A011170, A010050, A008770, ..."
9990,fff7d563e388744fdc1ca90153ec0161d1345511cb9070...,"{A28513K, A061250, A083500, A009835, A091090, ..."
9991,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,"{A035420, A111710, A217330, A020560, A096530, ..."

In [27]:
cus_stg = cus[['act_id', 'ivs_icn_cd', 'lsg_sgm_cd',]]
cus_cd = pd.merge(cus_stg, id_cd_list, on = 'act_id')
cus_cd

,act_id,ivs_icn_cd,lsg_sgm_cd,iem_cd_list
0,64aae8dd71e5c0761000db9f9a6779e504e7a4aa9dc097...,99,3,"{A000030, A012330, A316140}"
1,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,4,5,"{A000720, A033780, A139480, A130580, A200470, ..."
2,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,4,5,"{A035420, A035720, A066570, A033780, A003620, ..."
3,6d497facfa1ea5901b827335553331f8555fec02a8184f...,4,5,"{A122350, A085660, A003380, A083310, A000100, ..."
4,b727c78d2cfc246c97b677f29a034399a0c7e7873fff44...,2,5,"{A011170, A003310, A051500, A041830, A042670, ..."
...,...,...,...,...
9987,2fdd734bf8fc04c0d484ddc1d021622a1cdc802705702e...,4,9,"{A269540, A261220, A133690}"
9988,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,3,2,"{A252670, A035720, A035420, A009835, A144510, ..."
9989,7702030b3b0760e6b37c8a3e8ed58611b1b85913526ad1...,4,5,"{A169950, A133690, A314250, A283580, A219480}"
9990,4006ddaa5673365096b9dd5965e20db866f6523c162f79...,99,5,"{A014910, A251270, A065450, A045520, A034730}"
9991,564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...,0,5,"{A249420, A033780, A012750, A034220, A003550, ..."

### 한 사람의 보유종목/날짜/잔고수량/잔고금액

In [28]:
df = hist[(hist['act_id'] == '25925195f81f0e67e6d983ddd890cd30456f38cb4a3926d4f9d831b57995b021')][['act_id', 'iem_cd', 'bse_dt', 'bnc_qty', 'tot_aet_amt']]
df

,act_id,iem_cd,bse_dt,bnc_qty,tot_aet_amt
788879,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A000100,20200907,2.0,130400.0
788880,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A322000,20200908,9.0,341550.0
788881,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A322000,20200907,2.0,80200.0
788882,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A253840,20200908,5.0,234500.0
788883,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A131370,20201120,0.0,0.0
788884,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A131370,20200908,2.0,34300.0
788885,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A092190,20200730,0.0,0.0
788886,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A092190,20200601,4.0,87200.0
788887,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A068270,20201125,0.0,0.0
788888,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A068270,20200908,3.0,954000.0
788889,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A042660,20200907,0.0,0.0
788890,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A042660,20200605,3.0,81300.0
788891,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A010140,20200903,0.0,0.0
788892,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A010140,20200605,4.0,26920.0
788893,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A009830,20200908,30.0,1384500.0
788894,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A009830,20200907,20.0,981000.0
788895,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A005930,20201230,1.0,81000.0

### 종목 코드 / 날짜를 오름차순으로 정렬
- 같은 종목 내에서 날짜가 (예전 -> 최근) 순으로 정렬한다.

In [29]:
sorted_df = df.sort_values(by=['iem_cd', 'bse_dt'], ascending = [True, True])
sorted_df = sorted_df.reset_index(drop = True)
sorted_df['past_d'] = 0
sorted_df

,act_id,iem_cd,bse_dt,bnc_qty,tot_aet_amt,past_d
0,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A000100,20200907,2.0,130400.0,0
1,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A005930,20201230,1.0,81000.0,0
2,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A009830,20200907,20.0,981000.0,0
3,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A009830,20200908,30.0,1384500.0,0
4,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A010140,20200605,4.0,26920.0,0
5,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A010140,20200903,0.0,0.0,0
6,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A042660,20200605,3.0,81300.0,0
7,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A042660,20200907,0.0,0.0,0
8,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A068270,20200908,3.0,954000.0,0
9,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A068270,20201125,0.0,0.0,0
10,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A092190,20200601,4.0,87200.0,0
11,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A092190,20200730,0.0,0.0,0
12,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A131370,20200908,2.0,34300.0,0
13,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A131370,20201120,0.0,0.0,0
14,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A253840,20200908,5.0,234500.0,0
15,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A322000,20200907,2.0,80200.0,0
16,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A322000,20200908,9.0,341550.0,0

### 한 사람의 주식 종목 별 보유 기간을 측정
- 종목 별로 날짜가 정렬되어 있으니깐 위에서부터 스캔해가며 보유기간을 계산한다.
- 계산된 보유기간은 past_d(임시로)에 기록

In [30]:
cal_dur = {}
for i in range(len(sorted_df)):
#     print(i)
    # 위에서부터 하나씩 읽어가는데 딕셔너리에 종목코드가 존재하지 않는다면 해당 날짜 추가
    if sorted_df['iem_cd'][i] not in cal_dur:
        cal_dur[sorted_df['iem_cd'][i]] = sorted_df['bse_dt'][i]
    # 이미 존재하면 해당 잔고가 0인지 확인
    else :
        # 일단 보유기간은 사고/팔고 개념이 있으니깐 팔지 않은 주식은 계산 X
        # 해당 잔고가 0이면 그 날짜와 딕셔너리에 존재하는 날짜를 사용해 보유 기간 계산
        if sorted_df['bnc_qty'][i] == 0:
            sell = sorted_df['bse_dt'][i]
            buy = cal_dur[sorted_df['iem_cd'][i]]
            dur = sell - buy
            sorted_df['past_d'][i] = dur
#             print(sorted_df['iem_cd'][i], ' 의 기간: ', dur)
        # 0이 없다: 다 팔지 않음 ==> 일단 보유기간 측정 안하는 걸로.
        else:
            continue
sorted_df

<ipython-input-30-5f31caff8c70>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sorted_df['past_d'][i] = dur

,act_id,iem_cd,bse_dt,bnc_qty,tot_aet_amt,past_d
0,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A000100,20200907,2.0,130400.0,0
1,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A005930,20201230,1.0,81000.0,0
2,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A009830,20200907,20.0,981000.0,0
3,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A009830,20200908,30.0,1384500.0,0
4,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A010140,20200605,4.0,26920.0,0
5,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A010140,20200903,0.0,0.0,298
6,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A042660,20200605,3.0,81300.0,0
7,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A042660,20200907,0.0,0.0,302
8,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A068270,20200908,3.0,954000.0,0
9,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A068270,20201125,0.0,0.0,217
10,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A092190,20200601,4.0,87200.0,0
11,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A092190,20200730,0.0,0.0,129
12,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A131370,20200908,2.0,34300.0,0
13,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A131370,20201120,0.0,0.0,212
14,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A253840,20200908,5.0,234500.0,0
15,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A322000,20200907,2.0,80200.0,0
16,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A322000,20200908,9.0,341550.0,0

### 계좌 번호 별 주식 종목 보유기간 데이터 저장
- 주식 종목 별 보유기간 데이터 따로 저장함

In [31]:
new = pd.concat([sorted_df, sorted_df], axis = 0)
new.reset_index(drop = True)
# new.to_csv('id_stk_dur.csv')

,act_id,iem_cd,bse_dt,bnc_qty,tot_aet_amt,past_d
0,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A000100,20200907,2.0,130400.0,0
1,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A005930,20201230,1.0,81000.0,0
2,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A009830,20200907,20.0,981000.0,0
3,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A009830,20200908,30.0,1384500.0,0
4,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A010140,20200605,4.0,26920.0,0
5,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A010140,20200903,0.0,0.0,298
6,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A042660,20200605,3.0,81300.0,0
7,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A042660,20200907,0.0,0.0,302
8,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A068270,20200908,3.0,954000.0,0
9,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A068270,20201125,0.0,0.0,217
10,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A092190,20200601,4.0,87200.0,0
11,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A092190,20200730,0.0,0.0,129
12,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A131370,20200908,2.0,34300.0,0
13,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A131370,20201120,0.0,0.0,212
14,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A253840,20200908,5.0,234500.0,0
15,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A322000,20200907,2.0,80200.0,0
16,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A322000,20200908,9.0,341550.0,0
17,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A000100,20200907,2.0,130400.0,0
18,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A005930,20201230,1.0,81000.0,0
19,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A009830,20200907,20.0,981000.0,0
20,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A009830,20200908,30.0,1384500.0,0
21,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A010140,20200605,4.0,26920.0,0
22,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A010140,20200903,0.0,0.0,298
23,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A042660,20200605,3.0,81300.0,0
24,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A042660,20200907,0.0,0.0,302
25,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A068270,20200908,3.0,954000.0,0
26,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A068270,20201125,0.0,0.0,217
27,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A092190,20200601,4.0,87200.0,0
28,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A092190,20200730,0.0,0.0,129
29,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A131370,20200908,2.0,34300.0,0
30,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A131370,20201120,0.0,0.0,212
31,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A253840,20200908,5.0,234500.0,0
32,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A322000,20200907,2.0,80200.0,0
33,25925195f81f0e67e6d983ddd890cd30456f38cb4a3926...,A322000,20200908,9.0,341550.0,0

### 모든 계좌번호 종목 별 보유기간 계산

In [32]:
# 잘되나 2개종목만 테스트
# # df = hist[(hist['act_id'] == '25925195f81f0e67e6d983ddd890cd30456f38cb4a3926d4f9d831b57995b021')][['act_id', 'iem_cd', 'bse_dt', 'bnc_qty', 'tot_aet_amt']]
# df2 = hist[(hist['act_id'] == '56dabefb60057f19ee217e3c2aa881627ac213df8fc31d1737af25da9a42a045')][['act_id', 'iem_cd', 'bse_dt', 'bnc_qty', 'tot_aet_amt']]
# # id_cd_list = pd.concat([df, df2], axis = 0)
# # id_cd_list = id_cd_list.reset_index(drop = True)
# test1 = id_cd_list[(id_cd_list['act_id'] == '25925195f81f0e67e6d983ddd890cd30456f38cb4a3926d4f9d831b57995b021')][['act_id', 'iem_cd_list']]
# test2 = id_cd_list[(id_cd_list['act_id'] == '56dabefb60057f19ee217e3c2aa881627ac213df8fc31d1737af25da9a42a045')][['act_id', 'iem_cd_list']]
# id_cd_list = pd.concat([test1, test2], axis = 0)
# id_cd_list = id_cd_list.reset_index(drop = True)

In [33]:
def working_day(s_dt, e_dt) : # 공휴일 제외
    s_dt = str(s_dt).split('.')[0]
    e_dt = str(e_dt).split('.')[0]
    s_dt = s_dt[:4] + '-' + s_dt[4:6] + '-' + s_dt[6:]
    e_dt = e_dt[:4] + '-' + e_dt[4:6] + '-' + e_dt[6:]
    return np.busday_count(s_dt, e_dt, weekmask='1111100')

In [58]:
def cal_duration(act_id):
    df = hist[(hist['act_id'] == act_id)][['act_id', 'iem_cd', 'bse_dt', 'bnc_qty', 'tot_aet_amt']]
    sorted_df = df.sort_values(by=['iem_cd', 'bse_dt'], ascending = [True, True])
    sorted_df = sorted_df.reset_index(drop = True)
    sorted_df['past_d'] = 0
    
    cur_dur = {}
#     dur_list = []
    for i in range(len(sorted_df)):    
        # 위에서부터 하나씩 읽어가는데 딕셔너리에 종목코드가 존재하지 않는다면 해당 날짜 추가
        if sorted_df['iem_cd'][i] not in cur_dur:
            cur_dur[sorted_df['iem_cd'][i]] = sorted_df['bse_dt'][i]
        # 이미 존재하면 해당 잔고가 0인지 확인
        else :
            # 일단 보유기간은 사고/팔고 개념이 있으니깐 팔지 않은(0이 아닌) 주식은 계산 X
            # 해당 잔고가 0이면 그 날짜와 딕셔너리에 존재하는 날짜를 사용해 보유 기간 계산
            # 어떤 종목을 다 팔고 다시 사고/팔았을 경우도 생각
            if sorted_df['bnc_qty'][i] == 0:
                sell = sorted_df['bse_dt'][i]
                buy = cur_dur[sorted_df['iem_cd'][i]]
                dur = working_day(buy, sell)
                sorted_df['past_d'][i] = dur 
                # 다 팔았으니깐 딕셔너리에서 해당 종목코드 삭제(나중에 다시 살 경우 대비)
                del cur_dur[sorted_df['iem_cd'][i]]
            # 0이 없다: 다 팔지 않음 ==> 일단 보유기간 측정 안하는 걸로.
            else:
                continue
    return sorted_df

In [60]:
# 1개 계좌번호 테스트
# cal_duration('0007f3d10282e6f9de1eb445a64eb1f13e9ed2308cfbfa9b6e6efa399d0bdf31').to_csv('test.csv')

<ipython-input-58-bb85553b33bb>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sorted_df['past_d'][i] = dur

#### 보유기간 추가한 csv 파일 생성

In [61]:
for i in notebook.tqdm(range(len(id_cd_list['act_id']))):
    if i == 0:
        act_id = id_cd_list['act_id'][i]
        df1 = cal_duration(act_id)
    else:
        act_id = id_cd_list['act_id'][i]
        df2 = cal_duration(act_id)
        df1 = pd.concat([df1, df2], axis = 0)

df1.reset_index(drop = True)

HBox(children=(FloatProgress(value=0.0, max=9992.0), HTML(value='')))

<ipython-input-58-bb85553b33bb>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sorted_df['past_d'][i] = dur

,act_id,iem_cd,bse_dt,bnc_qty,tot_aet_amt,past_d
0,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20190321,1.0,667000.0,0
1,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20190328,2.0,1270000.0,0
2,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20190507,3.0,1815000.0,0
3,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20190716,4.0,2104000.0,0
4,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20200129,8.0,2964000.0,0
...,...,...,...,...,...,...
2573834,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A293490,20201013,4.0,196600.0,0
2573835,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A293490,20201124,5.0,245500.0,0
2573836,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A293490,20201214,0.0,0.0,65
2573837,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A298040,20200910,15.0,1072500.0,0
2573838,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A298040,20200915,0.0,0.0,3

In [62]:
df1.to_csv('../data/id_stk_dur.csv')

##### 계좌번호 / 종목코드 / 보유기간 리스트

In [74]:
df1[(df1['past_d'] != 0)]

,act_id,iem_cd,bse_dt,bnc_qty,tot_aet_amt,past_d
7,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20200818,0.0,0.0,368
9,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A005070,20190423,0.0,0.0,19
11,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A005930,20190321,0.0,0.0,1
15,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A033270,20190712,0.0,0.0,78
19,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A036000,20191220,0.0,0.0,138
...,...,...,...,...,...,...
76,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A253450,20200805,0.0,0.0,134
78,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A264450,20201230,0.0,0.0,9
80,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A267320,20201214,0.0,0.0,48
85,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A293490,20201214,0.0,0.0,65
87,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A298040,20200915,0.0,0.0,3

In [76]:
df2 = df1.reset_index(drop=True)
df3 = df2[(df2['past_d'] != 0)]
df4 = df3.groupby(['act_id', 'iem_cd'])['past_d'].apply(list).reset_index(name='past_d_list')

In [78]:
# df4.to_csv('id_stk_dur_list.csv')

##### 평균 추가

In [98]:
df4

                                                   act_id   iem_cd past_d_list
0       0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...  A002270       [368]
1       0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...  A005070        [19]
2       0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...  A005930         [1]
3       0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...  A033270        [78]
4       0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...  A036000       [138]
...                                                   ...      ...         ...
433500  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...  A253450       [134]
433501  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...  A264450         [9]
433502  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...  A267320        [48]
433503  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...  A293490        [65]
433504  fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...  A298040         [3]

[433505 rows x 3 columns]

In [100]:
df5 = df3.groupby(['act_id', 'iem_cd'])['past_d'].mean().reset_index(name='mean')
df6 = df5['mean']
df7 = pd.concat([df4, df6], axis = 1)
df7
df7.to_csv('../data/id_stk_dur_list.csv')

### 계좌번호당 보유기간 처리 -> 일단 평균으로 (이거아님)
- 앞에서 계산한 한 계좌번호가 가지고 있는 종목 별 보유기간을 통해 평균을 내서 계좌번호당 평균 보유기간을 출력할 것
- 뒤에 성향 별 보유기간 분포를 보기 위해

In [16]:
# cus_dur = pd.read_csv('id_stk_dur.csv')
cus_dur = pd.read_csv('~/Study/' + conf.data_path[2:] + 'id_stk_dur.csv')

In [17]:
# 계좌번호 별 주식 평균 보유기간(종목 상관없이)
df1 = cus_dur[(cus_dur['past_d'] != 0)][['act_id', 'iem_cd', 'past_d']]
df1
df2 = df1.groupby('act_id')['past_d'].mean()
df2

act_id
0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c5467ece45d5b35e99912a     1059.782609
0007f3d10282e6f9de1eb445a64eb1f13e9ed2308cfbfa9b6e6efa399d0bdf31     1376.281250
0008d1bfac569bdb998897e2eb8519dec06b9277a686f4c6e06de582c9791b35     1102.740741
000a83a961cbcbce40673aed998effbd462fb10dcac8e64c6fa720f2150d3f5a    13313.666667
000b92ca83a96312a0909b1f489340f4d399c86555012ffe2c41952ae43dc741   -12964.333333
                                                                        ...
ffdccfb9dc24cf41843f6e7f34704ccb73ac81acc29aa39b043fe7f90959e5f3      689.600775
ffecc8e2823943ef1a7b0d9c6512f716a88032a1bdf7bace472b4365f5028535     1043.185185
ffee399294db1c721e010cbf3dae5c8a1f140dbaf2dcae96e7cd290e431aee0a     -101.700000
fff7d563e388744fdc1ca90153ec0161d1345511cb9070f7ba250b774c4fe60f     3871.703704
fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6bc012f43564f626533     1978.758621
Name: past_d, Length: 9332, dtype: float64

#### 계좌번호 별 투자성향/Life Stage/주식보유리스트/평균 보유기간(임의로)

In [18]:
id_feature = pd.merge(cus_cd, df2, on = 'act_id')
id_feature

,act_id,ivs_icn_cd,lsg_sgm_cd,iem_cd_list,past_d
0,64aae8dd71e5c0761000db9f9a6779e504e7a4aa9dc097...,99,3,"{A000030, A012330, A316140}",-40309.000000
1,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,4,5,"{A000720, A033780, A139480, A130580, A200470, ...",-1625.920635
2,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,4,5,"{A035420, A035720, A066570, A033780, A003620, ...",1539.833333
3,6d497facfa1ea5901b827335553331f8555fec02a8184f...,4,5,"{A122350, A085660, A003380, A083310, A000100, ...",-30289.600000
4,b727c78d2cfc246c97b677f29a034399a0c7e7873fff44...,2,5,"{A011170, A003310, A051500, A041830, A042670, ...",-27411.133333
...,...,...,...,...,...
9327,6d1dde7a559a771e6f88990cd697564226fa89ecffa728...,1,7,"{A006580, A130500, A357550, A068330, A347860, ...",5308.500000
9328,2fdd734bf8fc04c0d484ddc1d021622a1cdc802705702e...,4,9,"{A269540, A261220, A133690}",10321.000000
9329,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,3,2,"{A252670, A035720, A035420, A009835, A144510, ...",2385.142857
9330,4006ddaa5673365096b9dd5965e20db866f6523c162f79...,99,5,"{A014910, A251270, A065450, A045520, A034730}",1607.166667
9331,564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...,0,5,"{A249420, A033780, A012750, A034220, A003550, ...",-13722.187919

### 투자 성향 별 보유기간

### Life Stage 별 보유기간

### 계좌번호 별 보유종목의 잔고수량 및 잔고금액

- 계좌번호 / 종목코드 / 기준일자 / 잔고수량 / 잔고금액
- act_id / iem_cd / bse_dt / bnc_qty / tot_aet_amt
- 계좌번호 별 보유종목 코드 : id_cd_list (위에 있음)

In [496]:
id_cd_list

,act_id,iem_cd_list,count
0,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,"{A079980, A093370, A104040, A033270, A247540, ...",27
1,0007f3d10282e6f9de1eb445a64eb1f13e9ed2308cfbfa...,"{A092220, A000660, A060250, A227950, A033270, ...",32
2,0008d1bfac569bdb998897e2eb8519dec06b9277a686f4...,"{A052020, A009420, A179900, A053800, A096630, ...",51
3,000a83a961cbcbce40673aed998effbd462fb10dcac8e6...,"{A054050, A066570, A035720, A079160, A001040, ...",14
4,000b92ca83a96312a0909b1f489340f4d399c86555012f...,"{A367380, A005930, A000660, A360200, A051910, ...",6
...,...,...,...
9987,ffea89aa464a4fcf8a5416989d21deef4e748192ba17bf...,"{A034220, A066570, A153490, A082850, A037400}",5
9988,ffecc8e2823943ef1a7b0d9c6512f716a88032a1bdf7ba...,"{A005360, A004770, A038340, A118990, A247540, ...",41
9989,ffee399294db1c721e010cbf3dae5c8a1f140dbaf2dcae...,"{A004370, A104040, A012800, A068270, A082800, ...",27
9990,fff7d563e388744fdc1ca90153ec0161d1345511cb9070...,"{A067630, A009420, A004770, A091090, A000995, ...",29
9991,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,"{A298040, A043200, A253450, A004770, A293490, ...",37