In [2]:
import os
import sys
sys.path.append('../../')

import pandas as pd
import numpy as np
#import core.config as conf
import os, sys
from marcap.marcap_utils import marcap_data

## 유틸리티 함수

marcap 시가총액 데이터셋에는 데이터를 날짜별로 혹은 기간과 특정 종목을 지정하여 손쉽게 읽기 위한 유틸함수가 있습니다. <br>

### marcap_data(start, end=None, code=None)
지정한 기간 데이터 읽어옵니다. 종목코드(code)를 지정하면 해당 종목에 대한 데이터를 지정한 기간만큼 읽어 옵니다. 거래량(volume)이 0인 행(row)는 제거하고 반환합니다.
## 시가총액(marcap) 데이터셋의 구성

시가총액(marcap) 데이터셋은 1995-05-02 ~ 2020-12-31 (25년간)일자별, 18개 컬럼, 1천만건 데이터 입니다. 압축하지 않은 상태에서  약 '1.6G' 분량 입니다.

** github 저장소에 현재 날짜 데이터까지 매일 자동 업데이트 됩니다.**
따라서 git 저장소를 clone 하시면 매일 전종목 가격 데이터를 업데이트 하실 수 있습니다. 

https://github.com/FinanceData/marcap

* 컬럼: 18개
* 건수: 10,810,340 건(row)
* 크기: 1.6G


#### 컬럼 구성(18개)
Date (날짜)를 인덱스(DatetimeIndex)로 포함하고 있으며, 컬럼 구성은 다음과 같습니다.

* Date : 날짜 (DatetimeIndex)
* Rank: 시가총액 순위 (당일)
* Code : 종목코드
* Name : 종명이름 
* Open : 시가
* High : 고가
* Low : 저가
* Close : 종가
* Volume : 거래량
* Amount : 거래대금
* Changes : 전일대비
* ChangeCode: 등락 기호
* ChagesRatio : 전일대비 등락률
* Marcap : 시가총액(백만원)
* Stocks : 상장주식수
* MarketId : 시장기호	
* Market : 시장
* Dept : 부서(한국거래소)

In [3]:
dtypes={'Code':np.str, 'Name':np.str, 
          'Open':np.int64, 'High':np.int64, 'Low':np.int64, 'Close':np.int64, 'Volume':np.int64, 'Amount':np.int64,
          'Changes':np.int64, 'ChangeCode':np.str, 'ChagesRatio':np.float64, 'Marcap':np.int64, 'Stocks':np.int64,
          'MarketId':np.str, 'Market':np.str, 'Dept':np.str,
          'Rank':np.int64}
year = 2015
csv_file = 'marcap/data/marcap-%s.csv.gz' % (year)
df2015 = pd.read_csv(csv_file, dtype=dtypes)

year1 = 2016
csv_file = 'marcap/data/marcap-%s.csv.gz' % (year1)
df2016 = pd.read_csv(csv_file, dtype=dtypes)

year2 = 2017
csv_file = 'marcap/data/marcap-%s.csv.gz' % (year2)
df2017 = pd.read_csv(csv_file, dtype=dtypes)

year3 = 2018
csv_file = 'marcap/data/marcap-%s.csv.gz' % (year3)
df2018 = pd.read_csv(csv_file, dtype=dtypes)

year4 = 2019
csv_file = 'marcap/data/marcap-%s.csv.gz' % (year4)
df2019 = pd.read_csv(csv_file, dtype=dtypes)

year5 = 2020
csv_file = 'marcap/data/marcap-%s.csv.gz' % (year5)
df2020 = pd.read_csv(csv_file, dtype=dtypes)

C:\Users\s_py9\anaconda3\envs\ym_nh\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """Entry point for launching an IPython kernel.
C:\Users\s_py9\anaconda3\envs\ym_nh\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\s_py9\anaconda3\envs\ym_nh\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  after removing the cwd from sys.path.

In [4]:
df2015

,Code,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId,Rank,Date
0,005930,삼성전자,KOSPI,NaN,1330000,1,3000,0.23,1340000,1340000,1327000,175499,230643147000,195908118210000,147299337,STK,1,2015-01-02
1,005380,현대차,KOSPI,NaN,169000,3,0,0.00,169000,170500,167000,458014,77441258500,37226724951000,220276479,STK,2,2015-01-02
2,000660,SK하이닉스,KOSPI,NaN,47750,3,0,0.00,47950,48400,47650,1155944,55452973972,34762112928750,728002365,STK,3,2015-01-02
3,015760,한국전력,KOSPI,NaN,42700,3,0,0.00,42350,42950,42200,637596,27145417350,27411866087900,641964077,STK,4,2015-01-02
4,005490,POSCO,KOSPI,NaN,283500,1,8000,2.90,278000,285000,277500,156209,43938855500,24717467722500,87186835,STK,5,2015-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492951,092630,바다로3호,KOSPI,NaN,2650,1,5,0.19,2645,2685,2600,8915,23484115,2350202850,886869,STK,2145,2015-12-30
492952,000327,노루홀딩스2우B,KOSPI,NaN,24700,1,500,2.07,24100,24750,24000,3157,76965400,2285738000,92540,STK,2146,2015-12-30
492953,004987,성신양회2우B,KOSPI,NaN,9790,2,-40,-0.41,9990,9990,9700,4820,47199470,2160584470,220693,STK,2147,2015-12-30
492954,002787,진흥기업2우B,KOSPI,NaN,7310,2,-40,-0.54,7360,7470,7310,5186,38051520,2155046480,294808,STK,2148,2015-12-30
492955,183410,데카시스템,KONEX,일반기업부,510,1,10,2.00,540,540,510,2002,1081020,1850259600,3627960,KNX,2149,2015-12-30

In [5]:
all_df = pd.concat([df2016, df2017, df2018, df2018, df2020])

In [6]:
all_df

,Code,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId,Rank,Date
0,005930,삼성전자,KOSPI,NaN,1205000,2,-55000,-4.37,1260000,1260000,1205000,306939,375331217000,177495701085000,147299337,STK,1,2016-01-04
1,015760,한국전력,KOSPI,NaN,50000,3,0,0.00,50100,50300,48900,1168262,58085748550,32098203850000,641964077,STK,2,2016-01-04
2,005380,현대차,KOSPI,NaN,144000,2,-5000,-3.36,147500,148000,143500,445332,64510089000,31719812976000,220276479,STK,3,2016-01-04
3,028260,삼성물산,KOSPI,NaN,140000,3,0,0.00,140500,142000,140000,280114,39440092500,26556606020000,189690043,STK,4,2016-01-04
4,090430,아모레퍼시픽,KOSPI,NaN,412500,2,-2000,-0.48,415000,422500,411500,88054,36572485500,24114127125000,58458490,STK,5,2016-01-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585451,240340,인터코스,KONEX,일반기업부,750,3,0,0.00,750,750,750,1,750,2509742250,3346323,KNX,2525,2020-12-30
585452,242350,피엔아이컴퍼니,KONEX,일반기업부,414,2,-35,-7.80,445,445,397,12793,5202747,1971269280,4761520,KNX,2527,2020-12-30
585453,224020,에스케이씨에스,KONEX,일반기업부,680,1,80,13.33,680,680,680,430,292400,1836000000,2700000,KNX,2529,2020-12-30
585454,179720,옐로페이,KONEX,일반기업부,2430,4,315,14.89,2400,2430,2400,300,728850,1796985000,739500,KNX,2530,2020-12-30
585455,225860,엠앤씨생명과학,KONEX,일반기업부,144,1,2,1.41,128,154,128,3329,475447,1635565248,11358092,KNX,2531,2020-12-30

In [7]:
# 1. 종목으로 정렬 2. 날짜로 정렬
all_df = all_df.sort_values(by=['Code','Date'])

In [8]:
all_df

,Code,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId,Rank,Date
576,000020,동화약품,KOSPI,NaN,8140,3,0,0.00,8130,8150,7920,281440,2265829150,227362165800,27931470,STK,580,2016-01-04
2665,000020,동화약품,KOSPI,NaN,8190,1,50,0.61,8040,8250,8000,243179,1981977230,228758739300,27931470,STK,584,2016-01-05
4730,000020,동화약품,KOSPI,NaN,8550,1,360,4.40,8200,8590,8110,609906,5129946490,238814068500,27931470,STK,567,2016-01-06
6810,000020,동화약품,KOSPI,NaN,8380,2,-170,-1.99,8470,8690,8190,704752,5919556330,234065718600,27931470,STK,568,2016-01-07
8876,000020,동화약품,KOSPI,NaN,8770,1,390,4.65,8210,8900,8130,802330,6875778520,244958991900,27931470,STK,547,2016-01-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573932,950200,소마젠(Reg.S),KOSDAQ,외국기업(소속부없음),18200,3,0,0.00,19150,19700,18150,1894816,35826136100,344462718600,18926523,KSQ,587,2020-12-23
576351,950200,소마젠(Reg.S),KOSDAQ,외국기업(소속부없음),18050,2,-150,-0.82,18200,18800,17850,887102,16246504600,341623740150,18926523,KSQ,591,2020-12-24
578801,950200,소마젠(Reg.S),KOSDAQ,외국기업(소속부없음),17000,2,-1050,-5.82,18150,18200,16950,590663,10241923000,321750891000,18926523,KSQ,621,2020-12-28
581206,950200,소마젠(Reg.S),KOSDAQ,외국기업(소속부없음),17700,1,700,4.12,17200,18900,17100,2056850,37143738800,334999457100,18926523,KSQ,604,2020-12-29
583629,950200,소마젠(Reg.S),KOSDAQ,외국기업(소속부없음),18100,1,400,2.26,18100,18500,17900,658735,11946850550,342570066300,18926523,KSQ,603,2020-12-30

In [9]:
all_df.columns =['code','name','market','dept','close','changecode','changes','chagesratio','open','high','low','volume','amount','marcap','stocks','marketid','rank','date']

In [10]:
all_df

,code,name,market,dept,close,changecode,changes,chagesratio,open,high,low,volume,amount,marcap,stocks,marketid,rank,date
576,000020,동화약품,KOSPI,NaN,8140,3,0,0.00,8130,8150,7920,281440,2265829150,227362165800,27931470,STK,580,2016-01-04
2665,000020,동화약품,KOSPI,NaN,8190,1,50,0.61,8040,8250,8000,243179,1981977230,228758739300,27931470,STK,584,2016-01-05
4730,000020,동화약품,KOSPI,NaN,8550,1,360,4.40,8200,8590,8110,609906,5129946490,238814068500,27931470,STK,567,2016-01-06
6810,000020,동화약품,KOSPI,NaN,8380,2,-170,-1.99,8470,8690,8190,704752,5919556330,234065718600,27931470,STK,568,2016-01-07
8876,000020,동화약품,KOSPI,NaN,8770,1,390,4.65,8210,8900,8130,802330,6875778520,244958991900,27931470,STK,547,2016-01-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573932,950200,소마젠(Reg.S),KOSDAQ,외국기업(소속부없음),18200,3,0,0.00,19150,19700,18150,1894816,35826136100,344462718600,18926523,KSQ,587,2020-12-23
576351,950200,소마젠(Reg.S),KOSDAQ,외국기업(소속부없음),18050,2,-150,-0.82,18200,18800,17850,887102,16246504600,341623740150,18926523,KSQ,591,2020-12-24
578801,950200,소마젠(Reg.S),KOSDAQ,외국기업(소속부없음),17000,2,-1050,-5.82,18150,18200,16950,590663,10241923000,321750891000,18926523,KSQ,621,2020-12-28
581206,950200,소마젠(Reg.S),KOSDAQ,외국기업(소속부없음),17700,1,700,4.12,17200,18900,17100,2056850,37143738800,334999457100,18926523,KSQ,604,2020-12-29
583629,950200,소마젠(Reg.S),KOSDAQ,외국기업(소속부없음),18100,1,400,2.26,18100,18500,17900,658735,11946850550,342570066300,18926523,KSQ,603,2020-12-30

In [11]:
all_df.to_csv('all_marcap_data2016_2020.csv', index=False)

In [12]:
all_df

,code,name,market,dept,close,changecode,changes,chagesratio,open,high,low,volume,amount,marcap,stocks,marketid,rank,date
576,000020,동화약품,KOSPI,NaN,8140,3,0,0.00,8130,8150,7920,281440,2265829150,227362165800,27931470,STK,580,2016-01-04
2665,000020,동화약품,KOSPI,NaN,8190,1,50,0.61,8040,8250,8000,243179,1981977230,228758739300,27931470,STK,584,2016-01-05
4730,000020,동화약품,KOSPI,NaN,8550,1,360,4.40,8200,8590,8110,609906,5129946490,238814068500,27931470,STK,567,2016-01-06
6810,000020,동화약품,KOSPI,NaN,8380,2,-170,-1.99,8470,8690,8190,704752,5919556330,234065718600,27931470,STK,568,2016-01-07
8876,000020,동화약품,KOSPI,NaN,8770,1,390,4.65,8210,8900,8130,802330,6875778520,244958991900,27931470,STK,547,2016-01-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573932,950200,소마젠(Reg.S),KOSDAQ,외국기업(소속부없음),18200,3,0,0.00,19150,19700,18150,1894816,35826136100,344462718600,18926523,KSQ,587,2020-12-23
576351,950200,소마젠(Reg.S),KOSDAQ,외국기업(소속부없음),18050,2,-150,-0.82,18200,18800,17850,887102,16246504600,341623740150,18926523,KSQ,591,2020-12-24
578801,950200,소마젠(Reg.S),KOSDAQ,외국기업(소속부없음),17000,2,-1050,-5.82,18150,18200,16950,590663,10241923000,321750891000,18926523,KSQ,621,2020-12-28
581206,950200,소마젠(Reg.S),KOSDAQ,외국기업(소속부없음),17700,1,700,4.12,17200,18900,17100,2056850,37143738800,334999457100,18926523,KSQ,604,2020-12-29
583629,950200,소마젠(Reg.S),KOSDAQ,외국기업(소속부없음),18100,1,400,2.26,18100,18500,17900,658735,11946850550,342570066300,18926523,KSQ,603,2020-12-30

In [13]:
# 평균 내기 어려운 데이터는 삭제
# 'name', 'market', 'dept', 'changecode','marketid','date'
mean_df = all_df.drop(['name', 'market', 'dept', 'changecode','marketid','date'], axis=1)

In [14]:
mean_df['changes']=abs(mean_df['changes'])
mean_df['chagesratio']=abs(mean_df['chagesratio'])

In [15]:
mean_df

,code,close,changes,chagesratio,open,high,low,volume,amount,marcap,stocks,rank
576,000020,8140,0,0.00,8130,8150,7920,281440,2265829150,227362165800,27931470,580
2665,000020,8190,50,0.61,8040,8250,8000,243179,1981977230,228758739300,27931470,584
4730,000020,8550,360,4.40,8200,8590,8110,609906,5129946490,238814068500,27931470,567
6810,000020,8380,170,1.99,8470,8690,8190,704752,5919556330,234065718600,27931470,568
8876,000020,8770,390,4.65,8210,8900,8130,802330,6875778520,244958991900,27931470,547
...,...,...,...,...,...,...,...,...,...,...,...,...
573932,950200,18200,0,0.00,19150,19700,18150,1894816,35826136100,344462718600,18926523,587
576351,950200,18050,150,0.82,18200,18800,17850,887102,16246504600,341623740150,18926523,591
578801,950200,17000,1050,5.82,18150,18200,16950,590663,10241923000,321750891000,18926523,621
581206,950200,17700,700,4.12,17200,18900,17100,2056850,37143738800,334999457100,18926523,604
583629,950200,18100,400,2.26,18100,18500,17900,658735,11946850550,342570066300,18926523,603

In [16]:
# 종목별 평균
mean_df = mean_df.groupby(['code'], as_index=False).mean()

In [18]:
mean_df.columns =['code','mean_close','mean_changes','mean_chagesratio','mean_open','mean_high','mean_low','mean_volume','mean_amount','mean_marcap','mean_stocks','mean_rank']

In [19]:
mean_df

,code,mean_close,mean_changes,mean_chagesratio,mean_open,mean_high,mean_low,mean_volume,mean_amount,mean_marcap,mean_stocks,mean_rank
0,000020,10963.236735,244.081633,2.040947,10978.391837,11248.922449,10730.946939,4.718209e+05,7.580070e+09,3.062193e+11,2.793147e+07,533.499592
1,000030,14610.736950,174.155578,1.192682,14602.886387,14765.936540,14441.402252,1.596502e+06,2.326846e+10,9.876858e+12,6.760000e+08,34.430911
2,000040,756.496228,16.001676,2.115809,757.409891,776.373009,738.655490,1.335930e+06,1.167793e+09,1.064223e+11,1.381645e+08,1285.624476
3,000050,38899.265677,637.186469,1.603465,38884.735974,39609.249175,38176.815182,4.083990e+04,6.782175e+08,3.811369e+11,2.358799e+07,439.003300
4,000060,18241.289796,226.073469,1.255771,18244.571429,18468.685714,17999.004082,1.785742e+05,3.245016e+09,2.030308e+12,1.113897e+08,122.334694
...,...,...,...,...,...,...,...,...,...,...,...,...
2748,950160,43870.912548,1278.897338,2.900228,43989.448669,45218.060837,42891.444867,7.894817e+05,3.944129e+10,2.667335e+12,6.082304e+07,105.125475
2749,950170,8409.942244,263.597360,2.913515,8437.491749,8687.483498,8185.123762,4.681572e+05,5.764655e+09,2.943944e+11,3.500552e+07,623.379538
2750,950180,15233.870968,388.104839,2.384798,15245.766129,15637.298387,14872.983871,2.967502e+05,5.963529e+09,3.208527e+11,2.106180e+07,525.060484
2751,950190,28148.369565,558.695652,1.954891,28253.804348,28729.891304,27664.673913,3.223562e+05,9.554281e+09,3.628210e+11,1.288959e+07,528.152174
2752,950200,16597.008547,717.521368,4.421197,16726.068376,17635.470085,16071.794872,2.517472e+06,4.912344e+10,2.980208e+11,1.797333e+07,620.068376

In [ ]:

mean_df.to_csv()